{% extends 'base.html' %}
{% load static %}
{% block content %}
<!-- End::app-sidebar -->
<!-- Page Header -->
<div class="page-header-breadcrumb d-md-flex d-block align-items-center justify-content-between ">
    <h4 class="fw-medium mb-0">CustomerWise Invoice List</h4>
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="javascript:void(0);" class="text-white-50">Dashboard</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page"> CustomerWiseInvoice List</li>
    </ol>
</div>
<!-- Page Header Close -->
<!-- Start::app-content -->
<div class="main-content app-content">
    <div class="container-fluid">
        <!-- Start:: row-2 -->
        <div class="row">
            <div class="col-xl-12">
                <div class="card custom-card">
                    <div class="card-header">
                        <div class="card-title">
                            CustomerWise Invoice List
                        </div>

                        
                    </div>
                    
                    <div class="card-body" style="overflow: auto;">
                        
                        <div style="float:right;padding:10px 10px">
                            <form method="GET">
                                <div class="input-group">
                                    <select name="route_name" class="form-select">
                                        <option value="">All Routes</option>
                                        {% for route in route_li %}
                                            <option value="{{ route.route_name }}">{{ route.route_name }}</option>
                                        {% endfor %}
                                    </select>
                                    <button type="submit" class="btn btn-primary">
                                        <i class="bi bi-search"></i> Search
                                    </button>
                                </div>
                            </form>
                        </div>
                        <div style="float:right;padding:10px 0px">
                            <form >
                                <div class="input-group">
                                    <input type="text" name="q" class="form-control" placeholder="Search ...">
                                    <button type="submit" class="btn btn-primary">
                                        <i class="bi bi-search"></i> Search
                                    </button>
                                </div>
                            </form>
                        </div>
                        <table class="table table-bordered text-nowrap" style="width:100%">
                            <thead>
                                <tr>
                                <th scope="col" class="text-center">Sl.No</th>
                                {% comment %} <th scope="col" class="text-center">Invoice No</th> {% endcomment %}
                                <th scope="col" class="text-left">Customer Name</th>
                                <th scope="col" class="text-left">Route</th>
                                <th scope="col" class="text-right">Actions</th>
                            </tr>
                            </thead>
                            <tbody>
                                {% load el_pagination_tags %}
                                {% paginate 20 invoices %}
                                {% for instance in invoices %}
                                <tr>
                                    <td class="text-center">{{forloop.counter}}</td>
                                    {% comment %} <td class="text-left">{{instance.invoice_no}}</td> {% endcomment %}
                                    <td class="text-left">{{instance.customer__customer_name}}</td>
                                    <td class="text-left">{{instance.customer__routes__route_name}}</td>
                                    <td class="text-right">
                                        <div class="g-2">
                                            <a href="{% url 'invoice:edit_customerwise_invoice' customer_id=instance.customer__customer_id %}" aria-label="anchor" class="btn btn-primary-light btn-sm ms-2" data-bs-toggle="tooltip" data-bs-original-title="View">
                                                <span class="bi bi-eye fs-14"></span>
                                            </a>
                                            
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                            {%endfor%}
                            </tbody>
                        </table>
                    </div>
                    {% get_pages %}
                    <div class="clearfix"></div>
                    <div class="row pagi my-3">
                        <div class="col-sm-6 col-xs-6 tot my-pagination">
                            <div class="m-t-10 text-start">
                                Showing {{title}}
                                <span class="current_page_index">{{ pages.current_start_index }}</span> - <span
                                class="current_end_status">{{ pages.current_end_index }}</span> of <span
                                class="total_count">{{ pages.total_count }}</span>
                            </div>
                        </div>
                        <div class="col-sm-6 col-xs-6 text-end pagination-btn-div">{% show_pages %}</div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End:: row-2 -->
    </div>
</div>
<!-- End::app-content -->
{% endblock %}
