{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="page-header-breadcrumb d-md-flex d-block align-items-center justify-content-between ">
    <h4 class="fw-medium mb-0">Edit Coupon </h4>
      <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="javascript:void(0);" class="text-white-50">Coupon Management</a>
          </li>
          <li class="breadcrumb-item active" aria-current="page">Coupon </li>
      </ol>
  </div>
<div class="main-content app-content">
    <div class="container-fluid">
             <!-- Start:: row-1 -->
        <div class="row">
            <div class="col-xl-12">
                <div class="card custom-card">
                    <div class="card-header">
                        <div class="card-title mx-auto">
                        Edit Coupon  </div>
                    </div>
                    <div class="card-body">
                        <form enctype="multipart/form-data" role="form" method="post"
            class="row g-3 needs-validation">
                            {% csrf_token %}
                            <div class="col-md-6">
                                <div class="form-group required">
                                    <label class='control-label'>Book no </label>
                                    {{form.book_num}}
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group required">
                                    <label class='control-label'>Coupon Type</label>
                                    {{form.coupon_type}}
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group required">
                                    <label class='control-label'>Total no of leaflets</label>
                                    {{form.no_of_leaflets}}
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group required">
                                    <label class='control-label'>Valuable leaflets</label>
                                    {{form.valuable_leaflets}}
                                </div>
                            </div>
                            <div class="col-md-6">
                                    <div class="form-group required">
                                        <label class='control-label'>Free leaflets</label>
                                        {{form.free_leaflets}}
                                    </div>
                            </div>
                            
                           
                            <div class="col-12 text-end mt-5">
                                <input type="submit" class="btn btn-primary me-2 mb-2" value="Submit">
                                <button class="btn btn-success   me-md-2  mb-2" type="button"
                                    onClick="javascript:history.go(-1);">
                                    <i class="bi bi-backspace-fill pe-1"></i>Back</button>
                                <a class="btn btn-success me-md-2  mb-2" href="{% url 'couponType' %}">
                                    <i class="bi bi-backspace-fill pe-1"></i> Back to Dashboard
                                </a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}