{% extends 'base.html' %}
{% block title %} coupon {% endblock %}
{% block content %}
{% load static %}

        <div class="page-header-breadcrumb d-md-flex d-block align-items-center justify-content-between ">
            <h4 class="fw-medium mb-0">Coupon Management</h4>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="javascript:void(0);" class="text-white-30">Coupon Management</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">Coupon</li>
            </ol>
        </div>
        <div class="main-content app-content">
            <div class="container-fluid">
                         <!-- Start:: row-2 -->
                <div class="row">
                    <div class="col-xl-12">
                        <div class="card custom-card">
                            <div class="card-header">
                                <div class="card-title">
                                    Coupon
                                </div>
                                <div class="ms-auto">
                                <a href="{% url 'create_coupon' %}"><button type="button" class="btn btn-success btn-wave text-end d-flex me-4 my-auto"><i class="bi bi-plus-circle me-1"></i>Create</button>
                                </a>
                                </div>  
                            </div>
                            <div class="card-body">
                                <table id="datatable-basic" class="table table-bordered text-nowrap" style="width: 100%">
                                    <thead>
                                        <tr>
                                            <th scope="col">Sl No</th>
                                            <th scope="col">Book No</th>
                                            <th scope="col">Coupon Type</th>
                                            <th scope="col">Value Starting No</th>
                                            <th scope="col">Value Ending No</th>
                                            <th scope="col">Free Starting No</th>
                                            <th scope="col">Free Ending No</th>
                                            <th>Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        
                                            {% for coupon in all_coupon %}
                                            <tr>
                                                <td>{{ forloop.counter }}</td>
                                                <td>{{ coupon.book_num }}</td>
                                                <td>{{ coupon.coupon_type_id }}</td>
                                                <td>{{ coupon.value_starting_no }}</td>
                                                <td>{{ coupon.value_ending_no }}</td>
                                                <td>{{ coupon.free_starting_no }}</td>
                                                <td>{{ coupon.free_ending_no }}</td>
                                                <td>
                                                    <div class="g-2">
                                                        <a href="{% url 'view_coupon' coupon.coupon_id %}" aria-label="anchor" class="btn  btn-warning-light btn-sm" data-bs-toggle="tooltip" data-bs-original-title="View">
                                                            <span class="bi bi-eye fs-14"></span>
                                                        </a>
                                                        <a href="{% url 'edit_Coupon' coupon.coupon_id %}" aria-label="anchor" class="btn btn-primary-light btn-sm ms-2" data-bs-toggle="tooltip" data-bs-original-title="Edit">
                                                            <span class="ri-pencil-line fs-14"></span>
                                                        </a> 
                                                                                                             
                                                        <a href="{% url 'delete_coupon' coupon.coupon_id %}"  aria-label="anchor" class="btn btn-danger-light btn-sm ms-2" data-bs-toggle="tooltip" data-bs-original-title="Delete">
                                                            <span class="ri-delete-bin-7-line fs-14"></span>
                                                        </a>
                                                    </div>
                                                </td>
                                            </tr>
                                            {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

{% endblock %}