{% extends 'base.html' %}
{% block title %} Coupon View {% endblock %}
{% block content %}
{% load static %}
  <div class="page-header-breadcrumb d-md-flex d-block align-items-center justify-content-between ">
    <h4 class="fw-medium mb-0">Coupon Details</h4>
      <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="javascript:void(0);" class="text-white-50">Coupon Management</a>
          </li>
          <li class="breadcrumb-item active" aria-current="page">Coupon</li>
      </ol>
  </div>

  <div class="main-content app-content">
      <div class="container-fluid">

                <!-- Start:: row-1 -->
                <div class="card card-product-details shadow">
      
                  <div class="card-header text-center">
                    <h4>Coupon Details</h4>
                  </div>
                  
                  <div class="card-body ">
                    <p class="card-text">
                      <div class="table-responsive">
                          <table class="table">
                            <tbody>
                              <tr >                                
                                <td class="text-secondary">Book no</td>
                                <td> {{view_coupon.book_num}}</td>
                              </tr>
                                
                              <tr>  
                                <td class="text-secondary">Coupon Type</td>
                                <td>{{view_coupon.coupon_type}}</td>
                              </tr>
                              <tr>  
                                <td class="text-secondary">Total no of leaflets</td>
                                <td>{{view_coupon.no_of_leaflets}}</td>
                              </tr>
                                <td class="text-secondary">Valuable leaflets</td>
                                <td>{{view_coupon.valuable_leaflets}}</td>
                            </tr>
                                <td class="text-secondary">Free leaflets</td>
                                <td>{{view_coupon.free_leaflets}}</td>
                            </tr>
 

                            </tbody>
                      
                          </table>
                          
                        </div>
      
                    </p>
                    <div class="row my-3 me-1">
                      <div class="col-12 text-end">
                        <a href="{% url 'new_coupon' %}">
                            <button class="btn btn-success me-md-2 " type="button"><i class="bi bi-backspace-fill pe-1"></i>Back</button>
                       </a>
                        <!-- <button class="btn btn-success me-md-2 " type="button"><i class="bi bi-backspace-fill pe-1"></i>Back to Dashboard</button> -->
          
                      </div>
                    </div>
                  </div>
                  
                </div>

              <!-- End:: row-1 -->
                

      </div>
  </div>
  {% endblock %}