{% extends 'base.html' %}
{% block title %} Products List {% endblock %}
{% block content %}
{% load static %}
<!-- End::app-sidebar -->
<!-- Page Header -->
<div class="page-header-breadcrumb d-md-flex d-block align-items-center justify-content-between ">
    <h4 class="fw-medium mb-0">Product Management</h4>
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="javascript:void(0);" class="text-white-50">Dashboards</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">Admin Dashboard</li>
    </ol>
</div>
<!-- Page Header Close -->
<!-- Start::app-content -->
<div class="main-content app-content">
    <div class="container-fluid">
        <!-- Start:: row-2 -->
        <div class="row">
            <div class="col-xl-12">
                <div class="card custom-card">
                    <div class="card-header">
                        <div class="card-title w-100">
                            <div class="row justify-space-between">
                                <div class = "col-6">
                                    Issue Order Details
                                </div>
                                <div class = "col-6">
                                    <p class="date-section m-0" style="font-size: small;">Order Date: {{order_date|date}}</p>
                                    <p class="oder-number-section m-0" style="font-size: small;">Order No: {{order_number}}</p>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                    <div class="card-body">
                        <table id="datatable-basic" class="table table-bordered text-nowrap" style="width:100%">
                            <thead>
                                <tr>
                                    <th scope="col">Sl.No</th>
                                    <th scope="col">Item name</th>
                                    <th scope="col">Requested Quantity</th>
                                    <th scope="col">Issued Quantity</th>
                                    <th scope="col">Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for data in staff_orders_details %}
                                <tr>
                                    <td style="text-align:center;">{{forloop.counter}}</td>
                                    <td style="text-align:left;">{{data.product_id}}</td>
                                    <td style="text-align:center;">{{data.count}}</td>
                                    <td style="text-align:center;"></td>
                                    <td>
                                        <div class="g-2">
                                            <!-- Add the action button for issuing a quantity -->
                                            {% if not data.product_id.category.category_name == "Coupons" %}
                                                <a href="{% url 'staffIssueOrdersCreate' data.staff_order_details_id %}" id="issueQuantityButton" aria-label="anchor" class="btn btn-primary-light btn-sm" data-bs-toggle="tooltip" data-bs-original-title="Issue Quantity" onclick="disableButton(this)"><span class="bi bi-plus-circle fs-14"></span> Issue Quantity</a>
                                            {% else %}
                                                <button class="btn btn-primary-light btn-sm" data-bs-toggle="modal" data-bs-target="#couponIssueModal" data-request_id="{{data.pk}}" data-href="{% url 'issue_coupons_orders' data.pk %}" onclick="handleButtonClick(this)"><span class="bi bi-plus-circle fs-14"></span> Issue Quantity</button>
                                            {% endif %}
                                        </div>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!-- End:: row-2 -->
    </div>
</div>
<!-- End::app-content -->

<!-- Modal -->
<div class="modal fade" id="couponIssueModal" tabindex="-1" role="dialog" aria-labelledby="couponIssueModalTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Check Coupon Book</h5>
            <button type="button" class="btn-close text-dark" data-bs-dismiss="modal" aria-label="Close" onclick="clearForm()"></button>
            </div>
            <div class="modal-body">
                <div class="row justify-content-center"> <!-- Center the row content -->
                    <div class="col-6"> <!-- Use Bootstrap grid -->
                        <div class="form-group required">
                            <label class='control-label'>Book Number</label>
                            <input type="text" class="form-control text-center" name="coupon_book_no" id="modalCouponBookNo">
                            <input type="hidden" name="request_id" id="modalRequestId">
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-6 text-center mt-3">
                        <span class="coupon-varification-status"></span>
                    </div>
                </div>
            </div>                    
            <div class="modal-footer">
                <button type="button" class="btn bg-gradient-secondary" onclick="clearForm()" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn bg-gradient-primary" id="couponBookVarifyBtn">Varify</button>
                {% for data in staff_orders_details %}
                <a href="{% url 'issue_coupons_orders' data.staff_order_details_id %}" class="btn bg-gradient-primary d-none" id="couponBookSubmitBtn" >Submit</a>
                {% endfor  %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block static %}
{% load static %}
<script>
    function handleButtonClick(button) {
        var requestId = $(button).data("request_id");
        $("#modalRequestId").val(requestId);
        var buttonUrl = $(button).data("href");
        $("#couponBookSubmitBtn").attr("href", buttonUrl);
    };

    function clearForm() {
        // Clear the form fields
        document.getElementById('modalRequestId').value = '';
        document.getElementById('modalCouponBookNo').value = '';
        }
    </script>
    <script>
        $("#couponBookVarifyBtn").click(function(){
            var requestId = $("#modalRequestId").val();
            var couponBookNo = $("#modalCouponBookNo").val();
            var url = "{% url 'varify_coupon' %}"
    
            $.ajax({
                type: 'GET',
                url: url,
                dataType: 'json',
                data: {
                    'request_id': requestId,
                    'coupon_book_no': couponBookNo,
                },
        
                success: function (data) {
                    if (data["varify_status"] === true){
                        var coupo_no = $("#modalCouponBookNo").val();
                        var submitUrl = $("#couponBookSubmitBtn").attr('href');

                        $(".coupon-verification-status").html("Available coupon");
                        $("#couponBookVerifyBtn").addClass("d-none");
                        $("#couponBookSubmitBtn").removeClass("d-none");

                        $(".coupon-verification-status").addClass("text-success");
                        $(".coupon-verification-status").removeClass("text-danger");
                        $("#couponBookSubmitBtn").attr('href', submitUrl + "?coupo_no=" + encodeURIComponent(coupo_no));
                    }else{
                        $(".coupon-varification-status").html("no valid coupons");
                        $("#couponBookVarifyBtn").removeClass("d-none");
                        $("#couponBookSubmitBtn").addClass("d-none");
                        $(".coupon-varification-status").addClass("text-danger");
                        $(".coupon-varification-status").removeClass("text-success");
                    }
                },
                error: function (data) {
                    var title = data["title"];
                    var errorMessagesStr = data["responseJSON"]["message"];
                },
            });
    
        });
    </script>
{% endblock static %}



