{% extends 'base.html' %}
{% block title %} Products List {% endblock %}
{% block content %}
{% load static %}
{% load purchase_template_tags %}
<!-- End::app-sidebar -->
<!-- Page Header -->
<div class="page-header-breadcrumb d-md-flex d-block align-items-center justify-content-between ">
    <h4 class="fw-medium mb-0">Staff Issue Orders</h4>
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="javascript:void(0);" class="text-white-50">Dashboards</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">Admin Dashboard</li>
    </ol>
</div>
<!-- Page Header Close -->
<!-- Start::app-content -->
<div class="main-content app-content">
    <div class="container-fluid">
        <!-- Start:: row-2 -->
        
        <div class="row">
            <div class="col-xl-12">
                <div class="card custom-card">
                    
                    <div class="m-3">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="page-title-box">
                                    <form method="GET">
                                        <div class="row">
                                            <div class="col">
                                                <div class="mt">
                                                    <div class="card-body">
                                                        <div class="row col-md-8">
                                                            <div class="col-auto col-form-label text-end">
                                                                <h6>Date</h6>
                                                            </div>
                                                            <div class="col-md-4">
                                                                <input name="date" type="date" class="form-select" style="width: min-content;" value="{% if filter_data.date %}{{ filter_data.date }}{% else %}{% now 'Y-m-d' %}{% endif %}">
                                                            </div>
                                                            <div class="col-md-4">
                                                                <input type="submit" class="btn btn-primary btn-sm" >
                                                            </div>
                                                        
                                                        </div>
                                                    </div>
                                                </div>
                                            </div><!--end col-->
                                            <div class="col-auto col-sm-2 float-right ml-auto">
                                                <li class="list-inline-item w-100">
                                                    <div class="input-group">
                                                        <input name="q" type="text" placeholder="order id" value="{{ filter_data.q }}" class="form-control" />
                                                    </div>
                                                </li>
                                            </div>
                                        </div><!--end row-->       
                                    </form>                                                       
                                </div><!-- end page-title-box -->
                            </div><!--end col-->
                        </div><!--end row-->
                        
                    </div>
                    <div class="card-body">
                        <table class="table table-bordered text-nowrap" style="width:100%">
                            <thead>
                                <tr>
                                    <th scope="col" style="text-align:center !important;width:5%;">Sl.No</th>
                                    <th scope="col" style="text-align:center !important;">Created Date</th>
                                    <th scope="col" style="text-align:center !important;">Order Date</th>
                                    <th scope="col" style="text-align:center !important;">Order Number</th>
                                    <th scope="col" style="text-align:center !important;">Staff Name</th>
                                    <th scope="col" style="text-align:center !important;">Route</th>
                                    <th scope="col" style="text-align:right !important;">Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% load el_pagination_tags %}
                                {% paginate 20 instances %}
                                {% for data in instances %}
                                <tr>
                                    <td style="text-align:center;">{{forloop.counter}}</td>
                                    <td style="text-align:center;">{{data.created_date|date:"d/m/Y"}}</td>
                                    <td style="text-align:center;">{{data.order_date|date:"d/m/Y"}}</td>
                                    <td style="text-align:left;">{{data.order_number}}</td>
                                    {% if data.created_by %}
                                        {% get_salesman_name data.created_by as salseman %}
                                        <td style="text-align:left;">{{salseman}}</td>
                                        {% get_route_name data.created_by as route_name %}
                                        <td style="text-align:left;">{{route_name.routes.route_name}}</td>
                                    {% else %}
                                        <td style="text-align:center;">--</td>
                                        <td style="text-align:center;">--</td>
                                    {% endif %}
                                    <td class="text-end">
                                        <div class="g-2">
                                            <a href="{% url 'staff_issue_orders_details_list' data.pk %}" aria-label="anchor" class="btn  btn-warning-light btn-sm" data-bs-toggle="tooltip" data-bs-original-title="View">
                                                <span class="bi bi-eye fs-14"></span>
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        {% get_pages %}
                        <div class="clearfix"></div>
                        <div class="row pagi my-3">
                            <div class="col-sm-6 col-xs-6 tot my-pagination">
                                <div class="m-t-10 text-start">
                                    Showing {{title}}
                                    <span class="current_page_index">{{ pages.current_start_index }}</span> - <span
                                    class="current_end_status">{{ pages.current_end_index }}</span> of <span
                                    class="total_count">{{ pages.total_count }}</span>
                                </div>
                            </div>
                            <div class="col-sm-6 col-xs-6 text-end pagination-btn-div">{% show_pages %}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End:: row-2 -->
    </div>
</div>
<!-- End::app-content -->
{% endblock %}
{% block static %}
{% load static %}

{% endblock static %}