{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="page-header-breadcrumb d-md-flex d-block align-items-center justify-content-between ">
    <h4 class="fw-medium mb-0">Create Request Type</h4>
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="javascript:void(0);" class="text-white-50">Customer Care</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">Request Type</li>
    </ol>
</div>
<div class="main-content app-content">
    <div class="container-fluid">
        <!-- Start:: row-1 -->
        <div class="row">
            <div class="col-xl-12">
                <div class="card custom-card">
                   
                    <div class="card-body">
                        <form enctype="multipart/form-data" role="form" method="post" class="row g-3 needs-validation mb-4 ">
                            {% csrf_token %}
                            <!--row 1-->

                            <div class="col-md-6">
                                <div class="form-group required">

                                    <label class='control-label'>Request Type</label>
                                    <select name="" id="requesttypeselect" class="form-control">
                                        <option value="">-</option>
                                        {% for i in requestype_obj%}
                                        <option value="{{i}}">{{i}}</option>

                                        {% endfor %}

                                    </select>
                                    
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group required">
                                    <input type="hidden" id="customer_id_re" name="" value="{{pk}}"
                                        class="form-control">
                                </div>
                            </div>


                        </form>

                        <form enctype="multipart/form-data" role="form" method="post" id="coupenpurchase"
                        class="row g-3 needs-validation">
                        {% csrf_token %}
                        <!--row 1-->

                        <div class="col-md-6">
                            <div class="form-group required">
                                <label class='control-label'>Coupon Type</label>
                                <select id="coupontype" name="coupontype" class="form-control">
                                    <option value="">-</option>
                                    <option value="digital ">Digital</option>
                                    <option value="manual">Manual</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group required">
                                <label class='control-label'>Category</label>
                                <select id="category" name="category" class="form-control">
                                    <option value="">-</option>
                                    <option value="cashcoupon ">Cash coupon
                                         </option>
                                    <option value="creditcoupon">Credit coupon</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group required">
                                <label class='control-label'>No of Books</label>
                                <input type="text" id="numberofbooks" name="numberofbooks" class="form-control">
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group required">
                                <label class='control-label'>Payment Status</label>
                                <select id="paymentstatus" name="paymentstatus" class="form-control">
                                    <option value="">-</option>
                                    <option value="paid">Paid</option>
                                    <option value="unpaid">Unpaid</option>

                                </select>
                            </div>

                        </div>
                        <div class="col-md-6">
                            <div class="form-group required">
                                <label class='control-label'>Coupon Rate</label>
                                <input type="text" id="amount" name="amount" class="form-control">
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group required">
                                <label class='control-label'>Free coupon</label>
                                <input type="text" id="freecoupon" name="freecoupon" class="form-control">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group required">
                                <label class='control-label'>Discount</label>
                                <input type="text" id="discount" name="discount" class="form-control">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group required">
                                <label class='control-label'>Delivery date</label>
                                <input type="date" id="delivery_date" name="deliverydate" class="form-control">
                            </div>
                        </div>

                        <div class="col-12 text-end mt-5">
                            <input type="submit" class="btn btn-primary me-2 mb-2 submitcls" value="Submit">
                            <button class="btn btn-success   me-md-2  mb-2" type="button"
                                onClick="javascript:history.go(-1);">
                                <i class="bi bi-backspace-fill pe-1"></i>Back</button>
                            <a class="btn btn-success me-md-2  mb-2" href="{% url 'branch' %}">
                                <i class="bi bi-backspace-fill pe-1"></i> Back to Dashboard
                            </a>
                        </div>
                    </form>
                     

                      

                    </div>
                </div>
            </div>

        </div>
    </div>

   
</div>


<script>


    $(document).ready(function () {

        $('#differentsectionbottle').hide();
        $('#otherrequirementsection').hide();
        $('#coupenpurchase').hide();
       
    });

    $('#requesttypeselect').on('change', function () {
        console.log("---", $('#customer_id_re').val())

        requesttypeval = $('#requesttypeselect').val();
        console.log('data=', requesttypeval)
        if (requesttypeval == 'Coupons') {
            $('#coupenpurchase').show();
            $('#otherrequirementsection').hide();
            $('#differentsectionbottle').hide();
           

        }
       
        else if (requesttypeval == 'other') {
            $('#otherrequirementsection').show();
            $('#differentsectionbottle').hide();
            $('#coupenpurchase').hide();
           
        }
       
        else {
            $('#differentsectionbottle').hide();
            $('#otherrequirementsection').hide();
            $('#coupenpurchase').hide();
            
        }
    });

    $('.submitcls').click(function (e) {
        e.preventDefault();
        requesttypeval = $('#requesttypeselect').val();
        if ((requesttypeval == 'Coupons')) {
            console.log(requesttypeval)
            customer_id_re=$('#customer_id_re').val();
            console.log(customer_id_re,'customer_id_re')

            requesttypeval = $('#requesttypeselect').val();
            coupon_type = $('#coupontype').val();
            category = $('#category').val();
            number_of_books = $('#numberofbooks').val();
            payment_status = $('#paymentstatus').val();
            amount = $('#amount').val();
            free_coupon = $('#freecoupon').val();
            discount = $('#discount').val();
            delivery_date = $('#delivery_date').val();

            var csrftoken = '{{csrf_token}}'
            var res3 = jQuery.ajax({
                type: "POST",
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json', "X-CSRFToken": csrftoken
                },
                url: "{% url 'couponpurchase_create' %}",
                data: JSON.stringify({
                    "requesttypeval": requesttypeval,
                    "customer_id_re":customer_id_re,
                    "coupon_type": coupon_type,
                    "category": category,
                    "number_of_books": number_of_books,
                    "payment_status": payment_status,
                    "amount": amount,
                    "free_coupon": free_coupon,
                    "discount": discount,
                    "delivery_date": delivery_date,

                }),
                dataType: "json",
                success: renderlist

            });
            function renderlist(res3) {
                console.log(res)
                reset();
                


            }
        }
        function reset(){
            $("#coupon_type").val('')
            $("#category").val('')
            $("#number_of_books").empty();
            $("#payment_status").val('')
            $("#amount").empty()
            $("#free_coupon").empty()
            $("#discount").empty()
            $("#delivery_date").empty()
            

        }

    })
    


</script>
{% endblock %}