{% extends 'base.html' %}
{% block title %} Branch View {% endblock %}
{% block content %}
{% load static %}
  <div class="page-header-breadcrumb d-md-flex d-block align-items-center justify-content-between ">
    <h4 class="fw-medium mb-0">Customer Details</h4>
      <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="javascript:void(0);" class="text-white-50">Dashboard</a>
          </li>
          <li class="breadcrumb-item active" aria-current="page">Customer</li>
      </ol>
  </div>

  <div class="main-content app-content">
      <div class="container-fluid">

                <!-- Start:: row-1 -->
                <div class="card card-product-details shadow">
      
                  <div class="card-header text-center">
                  </div>
                  
                {% comment %} <div class="card-body ">
                    <p class="card-text">
                      <div class="table-responsive">
                          <table class="table">
                            <tbody>
                              <tr >                                
                                <td class="text-secondary">Customer</td>
                                <td> {{customer}}</td>
                              </tr>
                                
                              <tr>  
                                <td class="text-secondary">Customer type</td>
                                <td>{{customer_type}}</td>
                              </tr>
                             
                              <tr>
                                <td class="text-secondary">Building No</td>
                                <td>{{building_name}}</td>
                              </tr>

                              <tr>
                                <td class="text-secondary">Mobile No</td>
                                <td>{{mobile_no}}</td>
                              <tr>
                                
                              <tr>
                                <td class="text-secondary">Route name</td>
                                <td>{{route}}</td>
                              </tr>  
                              <tr>
                                <td class="text-secondary">Door No</td>
                                <td>{{door_house_no}}</td>
                              </tr>  
                              <tr>
                                <td class="text-secondary">Sales man Name</td>
                                <td>{{sales_man_name}}</td>
                              </tr>  
                              <tr>
                                <td class="text-secondary">Email id</td>
                                <td>{{email_id}}</td>
                              </tr>  
                              {% comment %} <tr>
                                <td class="text-secondary">Next delivery day</td>
                                <td>{{van.salesman.username}}</td>
                              </tr>   {% endcomment %}
                            {% comment %} </tbody> {% endcomment %}
                      
                          {% comment %} </table> {% endcomment %}
                          
                        {% comment %} </div> {% endcomment %}
      
                    {% comment %} </p> {% endcomment %}
                    
                  {% comment %} </div> {% endcomment %}
            {% comment %} </div> {% endcomment %} 

      </div>
       
 
                
                {% comment %} <div class="main-content app-content"> {% endcomment %}
  
  {% comment %} <div class="container-fluid"> {% endcomment %}
          
        <!-- Start:: row-1 -->
        <div class="row">
            <div class="col-xl-12">
                <div class="card custom-card">
                   
                     <div class="card-body">
                        <form enctype="multipart/form-data" role="form" method="post" class="row g-3 needs-validation mb-4 ">
                            {% csrf_token %}
                            <!--row 1-->

                            <div class="col-md-6">
                                <div class="form-group required">

                                    {% comment %} <select name="request_type">
                                      <option value="" >select</option>
                                      <option value="1" >1</option>
                                    </select> {% endcomment %}
                                    
                                          {{ form.as_p }}
                                </div>
                            </div>
                            {% comment %} <div class="col-md-6">
                                <div class="form-group required">
                                    <input type="hidden" id="customer_id_re" name="" value="{{pk}}"
                                        class="form-control">
                                </div>
                            </div> {% endcomment %}


                        {% comment %} </form>

                        <form enctype="multipart/form-data" role="form" method="post" id="differentsectionbottle" class="row g-3 needs-validation">
                            {% csrf_token %} {% endcomment %}
                            <!--row 1-->
                           
                            
                          
                            
                            <div class="col-12 text-end mt-5">
                                <input type="submit" class="btn btn-primary me-2 mb-2 submitcls" value="Submit">
                                <button class="btn btn-success me-md-2 mb-2" type="button" onClick="javascript:history.go(-1);">
                                    <i class="bi bi-backspace-fill pe-1"></i>Back
                                </button>
                                <a class="btn btn-success me-md-2 mb-2" href="{% url 'branch' %}">
                                    <i class="bi bi-backspace-fill pe-1"></i> Back to Dashboard
                                </a>
                            </div>
                        </form>
                                            

                      

                    </div>
            </div>

        </div>
   
</div>
{% endblock %}