{% extends 'base.html' %}
{% block title %} Assign Van Routes {% endblock %}
{% block content %}
{% load static %}
        <!-- End::app-sidebar -->
        <!-- Page Header -->
        <div class="page-header-breadcrumb d-md-flex d-block align-items-center justify-content-between ">
            <h4 class="fw-medium mb-0">Assign Van Routes</h4>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="javascript:void(0);" class="text-white-50">Dashboard</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">Van</li>
            </ol>
        </div>
        <!-- Page Header Close -->



        <!-- Start::app-content -->
        
        <div class="main-content app-content">
            <div class="row">
                <div class="col-xl-12">
                    <div class="card custom-card">
                        <div class="card-header">
                            <div class="card-title mx-auto">
                                Assign Routes To {{van_data.van_make}} Van
                            </div>
                        </div>
                        <div class="card-body">
                            <form enctype="multipart/form-data" role="form" method="post" class="row g-3 needs-validation">
                                {% csrf_token %}
                                <!--row 1-->
                                <div class="col-md-6">
                                    <div class="form-group required">
                                        <label class='control-label'>Routes</label>
                                        {{ form.routes }}
                                        <span style="color: red;">{{ form.routes.errors }}</span>
                                        <!--                                <small class="form-text text-muted">Select Category.</small>-->
                                    </div>
                                </div>
    
                                <div class="col-12 text-end mt-5">
                                    <input type="submit" class="btn btn-primary me-2 mb-2" value="Submit">
                                    <button class="btn btn-success   me-md-2  mb-2" type="button"
                                        onClick="javascript:history.go(-1);">
                                        <i class="bi bi-backspace-fill pe-1"></i>Back</button>
                                    <a class="btn btn-success me-md-2  mb-2" href="{% url 'van' %}">
                                        <i class="bi bi-backspace-fill pe-1"></i> Back to Dashboard
                                    </a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-fluid">

                
                         <!-- Start:: row-2 -->
                <div class="row">
                    <div class="col-xl-12">
                        <div class="card custom-card">
                            <div class="card-header">
                                <div class="card-title">
                                    Assigned Routes
                                </div>
                                
                            </div>
                            
                            <div class="card-body">
                                <table id="responsiveDataTable" class="table table-bordered text-nowrap" style="width:100%">
                                    <thead>
                                        <tr>
                                            <th scope="col">Sl.No</th>
                                            <th scope="col">Route Name</th>
                                            <th scope="col">Actions</th>
                                            
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for data in all_van %}
                                        <tr>
                                            <td style="text-align:center;">{{forloop.counter}}</td>
                                            <td style="text-align:center;">{{data.routes.route_name}}</td>
                                            <td>
                                                <div class="g-2">
                                                    <input type="hidden" name="van_id" id="van_id" value="{{data.van.van_id}}">
                                                    <a aria-label="anchor" class="btn btn-danger-light btn-sm ms-2" data-bs-toggle="modal" data-bs-target="#searchModal" data-bs-original-title="Delete" id='{{data.van_route_id}}' onclick="showing(); return f1(this);">
                                                        <span class="ri-delete-bin-7-line fs-14"></span>
                                                    </a>
                                                    &nbsp;
                                               
                                            </div>
                                            </td>
                                        </tr>
                                        {%endfor%}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End:: row-2 -->

                      

            </div>
            

        </div>
        <div class="modal fade" id="searchModal" tabindex="-1" aria-labelledby="searchModal" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                  <div class="modal-body">
                    <h3>Confirm Delete</h3>
                        <p>Are you sure you want to delete the Route Assigned?</p>
                        <div class="row justify-content-center center">
                            <form method="post" action="{% url 'delete_route_assign' %}">
                                {% csrf_token %}
                                <input type="hidden" name="delete_id" id="delete_id">
                                <input type="hidden" name="van_idd" id="van_idd">

                                <button type="submit" class="btn btn-danger">Yes, I'm sure</button>
                                    <a href="" class="btn btn-success">No, cancel</a>
                                </form>
                        </div>
              </div>
            </div>
      </div></div>
        <!-- End::app-content -->
        <script>
            function showing(){
                $('#searchModal').modal('show');
            }
            function f1(c){
                x = document.getElementById("van_id").value;
                document.getElementById("van_idd").value = x;
                document.getElementById("delete_id").value = c.id;
            }
        </script>
        {% endblock %}
