{% extends 'base.html' %}
{% block title %} Trip Schedule {{route.route_name}} {% endblock %}
{% load client_templatetags %}
{% block content %}

<!-- Page Header -->
    <div class="main-content app-content">
        <div class="container-fluid">
            <div>
            <div class="row">
                <div class="col-xl-12">
                    <div class="card custom-card">
                        <div class="card-header">
                            <div class="card-title">
                                Route Details
                            </div>
                        </div>
                         <div class="card-body" style="margin-top: 3em;">
                            <table class="table table-bordered text-wrap " style="width: 100%;"  data-page-length="50">
                                <thead>
                                    <tr>
                                        <th scope="col">Sl No</th>
                                        <th scope="col">custom Name</th>
                                        <th scope="col">Building name </th>
                                        <th scope="col">Custody</th>
                                        <th scope="col">Outstanding</th>
                                        <th scope="col">Last Supplied</th>
                                        <th scope="col">Total</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% load el_pagination_tags %}
                                    {% paginate 20 instances %}
                                    {% for instance in instances %}
                                    {% route_wise_customer_bottle_count instance.pk as count %}
                                    <tr>
                                        <td>{{ forloop.counter }}</td>
                                        <td>{{ instance.routes.route_name }}</td> 
                                        <td>{{ instance.building_name }}</td> 
                                        <td>{{ count.custody_count }}</td> 
                                        <td>{{ count.outstanding_bottle_count }}</td> 
                                        <td>{{ count.last_supplied_count }}</td> 
                                        <td>{{ count.total_bottle_count }}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                                {% comment %} <tfoot>
                                    <tr>
                                        <td style="border-top: solid rgb(0, 0, 0) 1px;"></td>
                                        <td style="border-top: solid rgb(0, 0, 0) 1px;"></td>
                                        <td style="font-weight: bold; border-top: solid rgb(0, 0, 0) 1px;">Total</td>
                                        <td style="font-weight: bold; border-top: solid rgb(0, 0, 0) 1px;">{{ total_cash }}</td>
                                        <td style="font-weight: bold; border-top: solid rgb(0, 0, 0) 1px;">{{ total_credit }}</td>
                                        <td style="font-weight: bold; border-top: solid rgb(0, 0, 0) 1px;">{{ total_coupon }}</td>
                                        <td style="font-weight: bold; border-top: solid rgb(0, 0, 0) 1px;">{{ total_customers }}</td>
                                    </tr>
                                </tfoot> {% endcomment %}
                            </table>
                            {% get_pages %}
                            <div class="clearfix"></div>
                            <div class="row pagi my-3">
                                <div class="col-sm-6 col-xs-6 tot my-pagination">
                                    <div class="m-t-10 text-start">
                                        Showing {{title}}
                                        <span class="current_page_index">{{ pages.current_start_index }}</span> - <span
                                        class="current_end_status">{{ pages.current_end_index }}</span> of <span
                                        class="total_count">{{ pages.total_count }}</span>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-xs-6 text-end pagination-btn-div">{% show_pages %}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
{% endblock %}
