{% extends 'base.html' %}
{% load static %}
{% block content %}
<!-- End::app-sidebar -->
<!-- Page Header -->
<div class="page-header-breadcrumb d-md-flex d-block align-items-center justify-content-between ">
    <h4 class="fw-medium mb-0">Supply List</h4>
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="javascript:void(0);" class="text-white-50">Dashboard</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">Supply List</li>
    </ol>
</div>
<!-- Page Header Close -->
<!-- Start::app-content -->
<div class="main-content app-content">
    <div class="container-fluid">
        <!-- Start:: row-2 -->
        <div class="row">
            <div class="col-xl-12">
                <div class="card custom-card">
                    <div class="card-header">
                        <div class="card-title">
                            Supply List
                        </div>

                        <div class="ms-auto">
                            <a href="{% url 'create_customer_supply' %}">
                            <button type="button" class="btn btn-success btn-wave text-end d-flex me-4 my-auto"><i class="bi bi-plus-circle me-1"></i>Create</button>
                        </a>
                        </div>
                    </div>
                    <div class="" >
                        <form method="get">
                            <div class="row mt-3">
                                <div class="row col-md-6">
                                    <div id="datePeriodDiv" class="row col-12">
                                        <div class="col-md-3 col-form-label text-end">
                                            <p>Start and <br> End Date</p>
                                        </div>
                                        <div class="col-md-5">
                                            <input name="start_date" type="date" class="form-select" style="width: min-content;" value="{{ filter_data.start_date|date:'Y-m-d' }}">
                                        </div>
                                        <div class="col-md-4">
                                            <input name="end_date" type="date" class="form-select" style="width: min-content;" value="{{ filter_data.end_date|date:'Y-m-d' }}">
                                        </div>
                                    </div>
                                </div>
                                <div class="row col-md-6">
                                    <div class="col-md-3 col-form-label text-end">
                                        <p>Route</p>
                                    </div>
                                    <div class="col-md-4">
                                        <select name="route_name" class="form-select" style="width:100%">
                                            <option value="">-- Select Route --</option>
                                            {% for route in routes %}
                                                <option value="{{ route.route_name }}" {% if route.route_name == filter_data.route_name %}selected{% endif %}>{{ route.route_name }}</option>
                                            {% endfor %}
                                        </select>
                                    </div> 
                                    <div class="col-md-5 text-end">
                                        <input type="submit" class="btn btn-primary btn-sm" value="Apply Filter">
                                        <button type="button" class="btn btn-secondary btn-sm" onclick="resetFilters()">Reset Filter</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                        
                    </div>
                    <div class="card-body" style="overflow: auto;">
                        <table class="table table-bordered text-nowrap" style="width:100%">
                            <thead>
                                <tr>
                                <th scope="col" class="text-center">Sl.No</th>
                                <th scope="col" class="text-center">Created Date</th>
                                <th scope="col" class="text-left">Customer Name</th>
                                <th scope="col" class="text-left">Salesman Name</th>
                                <th scope="col" class="text-center">Grand Total</th>
                                <th scope="col" class="text-center">Discount</th>
                                <th scope="col" class="text-center">Sub Total</th>
                                <th scope="col" class="text-center">Amount Recieved</th>
                                <th scope="col" class="text-right">Actions</th>
                            </tr>
                            </thead>
                            <tbody>
                                {% load el_pagination_tags %}
                                {% paginate 20 instances %}
                                {% for instance in instances %}
                                <tr>
                                    <td class="text-center">{{forloop.counter}}</td>
                                    <td class="text-left">{{instance.created_date|date}}</td>
                                    <td class="text-center">{{instance.customer.customer_name}}</td>
                                    <td class="text-center">{{instance.salesman.get_fullname}}</td>
                                    <td class="text-center">{{instance.grand_total}}</td>
                                    <td class="text-center">{{instance.discount}}</td>
                                    <td class="text-center">{{instance.amount_recieved}}</td>
                                    <td class="text-center">{{instance.subtotal}}</td>
                                    <td class="text-right">
                                        <div class="g-2">
                                            <a href="{% url 'customer_supply_info' pk=instance.pk %}" aria-label="anchor" class="btn btn-primary-light btn-sm ms-2" data-bs-toggle="tooltip" data-bs-original-title="Info">
                                                <span class="ri-printer-fill fs-14"></span>
                                            </a>
                                            <a href="{% url 'edit_customer_supply' pk=instance.pk %}" aria-label="anchor" class="btn btn-primary-light btn-sm ms-2" data-bs-toggle="tooltip" data-bs-original-title="Edit">
                                                <span class="ri-pencil-line fs-14"></span>
                                            </a>
                                            <a aria-label="anchor" class="action-button remove btn btn-danger-light btn-sm ms-2" data-bs-toggle="tooltip" data-bs-original-title="Delete"
                                                data-id="{{instance.pk}}" data-text="{{confirm_delete_message}}" data-title="Are you sure?" href="{% url 'delete_customer_supply' pk=instance.pk %}"><span class="ri-delete-bin-7-line fs-14"></span>
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                            {%endfor%}
                            </tbody>
                        </table>
                    </div>
                    {% get_pages %}
                    <div class="clearfix"></div>
                    <div class="row pagi my-3">
                        <div class="col-sm-6 col-xs-6 tot my-pagination">
                            <div class="m-t-10 text-start">
                                Showing {{title}}
                                <span class="current_page_index">{{ pages.current_start_index }}</span> - <span
                                class="current_end_status">{{ pages.current_end_index }}</span> of <span
                                class="total_count">{{ pages.total_count }}</span>
                            </div>
                        </div>
                        <div class="col-sm-6 col-xs-6 text-end pagination-btn-div">{% show_pages %}</div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End:: row-2 -->
    </div>
</div>
<script>
    function resetFilters() {
        // Redirect to the same page
        location.href = "{% url 'customer_supply_list' %}";
    }
</script>
<!-- End::app-content -->
{% endblock %}
