{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="page-header-breadcrumb d-md-flex d-block align-items-center justify-content-between ">
    <h4 class="fw-medium mb-0">Edit Bottle Count </h4>
      <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="javascript:void(0);" class="text-white-50">Van Management</a>
          </li>
          <li class="breadcrumb-item active" aria-current="page">Edit Bottle Count</li>
      </ol>
  </div>
<div class="main-content app-content">
    <div class="container-fluid">
             <!-- Start:: row-1 -->
             <div class="row">
                <div class="col-xl-12">
                    <div class="card custom-card">
                        <div class="card-header">
                            <div class="card-title mx-auto">
                            Edit Bottle Count</div>
                        </div>
                        <div class="card-body">
                            <form method="POST"
                                class="row g-3 needs-validation">
                                {% csrf_token %}
                                <!--row 1-->
                                <div class="col-md-6">
                                    <div class="form-group required">
                                        <label for="route">Route:</label>
                                            <select id="route" name="route">
                                                <!-- Populate the options with available routes -->
                                                {% for route in routes %}
                                                    <option value="{{ route.id }}">{{ route.route_name }}</option>
                                                {% endfor %}
                                            </select><br><br>
                                    </div>
                                </div>
                                    
                                   
                                    <div class="col-md-6">
                                        <div class="form-group required">
                                           <label for="fivegallon_count">5 Gallon Count:</label>
                                            <input type="number" id="fivegallon_count" name="fivegallon_count"><br><br>
    
                                        </div>
                                    </div>
                                 <div class="col-md-6">
                                    <div class="form-group required">
                                        <label for="reason">Reason:</label>
                                        <textarea id="reason" name="reason"></textarea><br><br>
                                    </div>
                                </div>
    
                                    <div class="col-12 text-end mt-5">
                                        <input type="submit" class="btn btn-primary me-2 mb-2" value="Submit">
                                        <button class="btn btn-success   me-md-2  mb-2" type="button" onClick="javascript:history.go(-1);">
                                            <i class="bi bi-backspace-fill pe-1"></i>Back</button>
                                        <a class="btn btn-success me-md-2  mb-2"
                                        href="{% url 'product_items' %}"><i class="bi bi-backspace-fill pe-1"></i> Back to Dashboard </a>
                                    </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
    </div>
</div>
{% endblock %}

