{% extends 'base.html' %}
{% load static %}
{% block content %}
<style>
    @keyframes scroll {
    0% { opacity: 1; transform: translateY(0); }
    25% { opacity: 1; transform: translateY(-10px); }
    75% { opacity: 1; transform: translateY(-10px); }
    100% { opacity: 0; transform: translateY(-20px); }
    }

    .placeholder-animation {
        animation: scroll 5s forwards;
    }
</style>

<div class="page-header-breadcrumb d-md-flex d-block align-items-center justify-content-between ">
    <h4 class="fw-medium mb-0">Create Expense</h4>
      <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="javascript:void(0);" class="text-white-50">Dashboards</a>
          </li>
          <li class="breadcrumb-item active" aria-current="page">Van</li>
      </ol>
  </div>
<div class="main-content app-content">
    <div class="container-fluid">
             <!-- Start:: row-1 -->
             <div class="row">
                <div class="col-xl-12">
                    <div class="card custom-card">
                        <div class="card-header">
                            <div class="card-title mx-auto">
                            Create Expense</div>
                        </div>
                        <div class="card-body">
                            

                            <form enctype="multipart/form-data" role="form" method="post" class="row g-3 needs-validation">
                                {% csrf_token %}

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group required">
                                            <label class="control-label">Expense Type</label>
                                            {{ form.expence_type }}
                                            <span style="color: red;">{{ form.expence_type.errors }}</span>
                                        </div>
                                    </div>
                                    <div class="col-md-6 p-3">
                                        Can't find your Expense Type? <br> <a href="{% url 'expensehead_list' %}" style="text-decoration: underline; color: blue;">Manage Expence Head</a>
                                    </div>
                                
                                    <div class="col-md-6">
                                        <div class="form-group required">
                                            <span style="color: red;" class="required-star">*</span>
                                            <label class="control-label">Route</label>
                                            {{ form.route }}
                                            <span style="color: red;">{{ form.route.errors }}</span>
                                        </div>
                                    </div>
                             
                                    <div class="col-md-6">
                                        <div class="form-group required">
                                            <span style="color: red;" class="required-star">*</span>
                                            <label class="control-label">Van</label>
                                            {{ form.van }}
                                            <span style="color: red;">{{ form.van.errors }}</span>
                                        </div>
                                    </div>
                                    
                                    <div class="col-md-6">
                                        <div class="form-group required">
                                            <span style="color: red;" class="required-star">*</span>
                                            <label class="control-label">amount</label>
                                            {{ form.amount }}
                                            <span style="color: red;">{{ form.amount.errors }}</span>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group required">
                                            <span style="color: red;" class="required-star">*</span>
                                            <label class="control-label">Date</label>
                                            {{ form.expense_date }}
                                            <span style="color: red;">{{ form.expense_date.errors }}</span>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group required">
                                            <span style="color: red;" class="required-star">*</span>
                                            <label class="control-label">Remarks (Optional)</label>
                                            {{ form.remarks }}
                                            <span style="color: red;">{{ form.remarks.errors }}</span>
                                        </div>
                                    </div>
                                </div>



                                
                                
                                
                                
                                <div class="col-12 text-end mt-5">
                                    <input type="submit" class="btn btn-primary me-2 mb-2" value="Submit">
                                    <button class="btn btn-success me-md-2 mb-2" type="button" onClick="javascript:history.go(-1);">
                                        <i class="bi bi-backspace-fill pe-1"></i>Back</button>
                                    <a class="btn btn-success me-md-2 mb-2" href="{% url 'dashboard' %}">
                                        <i class="bi bi-backspace-fill pe-1"></i> Back to Dashboard
                                    </a>
                                </div>
                            </form>
                            
                        </div>
                    </div>
                </div>
            </div>
    </div>
</div>

{% endblock %}
