{% extends 'base.html' %}
{% block title %} Trip Schedule {{route.route_name}} {% endblock %}
{% block content %}




<!-- Page Header -->

    <div class="page-header-breadcrumb d-md-flex d-block align-items-center justify-content-between ">
        <h4 class="fw-medium mb-0">Trip Schedule</h4>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="javascript:void(0);" class="text-white-30">Van Management</a></li>
            <li class="breadcrumb-item active" aria-current="page">Trip Schedule</li>
        </ol>
    </div>
    <div class="main-content app-content">
        <div class="container-fluid">

            <!-- Start:: row-2 -->
            <div   id="printArea">
            <div class="row">
                <div class="col-xl-12">
                    <div class="card custom-card">
                        <div class="card-header">
                            <div class="card-title">
                                trip Schedule to {{route.route_name}} ({{trip}})
                            </div>
                        </div>

                        <div class="">
                            
                            
                                <div class="card-body">
                                    <div class="row">
                                        <div class="row col-md-6">
                                            <div class="col-md-4 col-form-label text-end">
                                                <h6>Date</h6>
                                            </div>
                                            <div class="col-md-4">
                                                <input name="date" type="date" class="form-select" style="width: min-content;" value="{{def_date}}" readonly>
                                            </div>
                                            <div class="col-md-4 " >
                                                
                                            </div>
                                        
                                        </div>
                                        <div class="row col-md-6 exclude-from-pdf">
                                            <div class="col-6 col-form-label"><b>Total Bottles : {{totale_bottle}}</b></div>
                                            <div class="col-2">
                                                
                                                <input type="button" onclick="printDiv('printArea')" value="PRINT" class="btn btn-outline-success btn-sm" style="width: 6em;">
                                            </div>
                                            <div class="col-2">
                                                <a href="{% url 'pdf_download' route.route_id def_date trip %}" class="btn btn-outline-success btn-sm" style="width: 6em;" target="_blank">
                                                    <i class="fas fa-file-pdf"></i>   PDF
                                                    
                                                </a>
                                            </div>
                                            <div class="col-2">
                                                <a href="{% url 'excel_download' route.route_id def_date trip %}" class="btn btn-outline-success btn-sm" style="width: 6em;">
                                                    <i class="fas fa-file-excel"></i>   EXCEL
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                        </div>
                        <div class="card-body">
                            <table id="datatable-basic" class="table table-bordered text-wrap " style="width: 100%;">
                                <thead>
                                    <tr>
                                        <th scope="col" style="border-bottom: 1; max-width: 5em;">Sl No</th>
                                        <th scope="col" style="border-bottom: 1; max-width: 11em;">Client Name</th>
                                        <th scope="col" style="border-bottom: 1;">Locations</th>
                                        <th scope="col" style="border-bottom: 1;">No of Bottles</th>
                                        <th scope="col" style="border-bottom: 1;">Outstanding Bottles</th>
                                        <th scope="col" style="border-bottom: 1;">Outstanding Coupons</th>
                                        <th scope="col" style="border-bottom: 1;" >Type</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for todays_customer in todays_customers %}
                                        <tr>
                                            <td>{{ forloop.counter }}</td>
                                            <td>{{ todays_customer.customer_name }}</td>
                                            <td>{{ todays_customer.location }}</td>
                                            <td>{{ todays_customer.no_of_bottles   }}</td>
                                            <td></td>
                                            <td></td>
                                            <td>{{todays_customer.type}}</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div> 

<script>
    function printDiv(divName) {
        // Hide elements to exclude from PDF
        var elementsToExclude = document.querySelectorAll('.exclude-from-pdf');
        elementsToExclude.forEach(function(element) {
            element.style.display = 'none';
        });

        // Print the specified div
        var printContents = document.getElementById(divName).innerHTML;
        var originalContents = document.body.innerHTML;
        document.body.innerHTML = printContents;
        window.print();
        
        // Restore original contents
        document.body.innerHTML = originalContents;

        // Restore visibility of excluded elements
        elementsToExclude.forEach(function(element) {
            element.style.display = '';
        });
    }
</script>

{% endblock %}
