{% extends 'base.html' %}
{% block title %} vanstock List {% endblock %}
{% block content %}
{% load static %}
{% load van_template_tags %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
<!-- End::app-sidebar -->
<!-- Page Header -->
<div class="page-header-breadcrumb d-md-flex d-block align-items-center justify-content-between ">
    <h4 class="fw-medium mb-0">Van Management</h4>
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="javascript:void(0);" class="text-white-50">Dashboards</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">Vanstock List</li>
    </ol>
</div>
<!-- Page Header Close -->
<!-- Start::app-content -->
<div class="main-content app-content">
    <div class="container-fluid">
        <!-- Start:: row-2 -->
        <div class="row">
            <div class="col-xl-12">
                <div class="card custom-card">
                    <div class="card-header">
                        <div class="card-title">
                            Vanstock Product Stock
                        </div>
                        
                    </div>
                    {% comment %} <div class="m-4">
                        
                        <div class="tab-content">
                            <div class="tab-pane fade show active" id="products"> {% endcomment %}
                                <div class="card-body" >
                        
                                    <table id="datatable-basic" class="table table-bordered text-nowrap" style="width:100%">
                                        <thead>
                                            <tr>
                                                <th style="text-align:center !important;" scope="col">Sl.No</th>
                                                <th style="text-align:center !important;" scope="col">Date</th>
                                                <th style="text-align:center !important;" scope="col">Van</th>
                                                <th style="text-align:center !important;" scope="col">Product<br> Name</th>

                                                <th style="text-align:center !important;" scope="col">Opening<br> Stock</th>
                                                <th style="text-align:center !important;" scope="col">Requested <br>Stock</th>
                                                <th style="text-align:center !important;" scope="col">Issued</th>
                                                <th style="text-align:center !important;" scope="col">Empty<br> Bottle</th>
                                                <th style="text-align:center !important;" scope="col">Sold</th>
                                                <th style="text-align:center !important;" scope="col">Returned</th>
                                                <th style="text-align:center !important;" scope="col">Offload</th>
                                                <th style="text-align:center !important;" scope="col">Stock</th>
                                                <th style="text-align:center !important;" scope="col">Closing</th>
                                                {% comment %} <th style="text-align:center !important;" scope="col">Actions</th> {% endcomment %}
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for van_data in van_product_stock %}
                                            {% get_van_product_wise_stock filter_data.filter_date van_data.van.pk van_data.product.pk as stock_details %}
                                            <tr>
                                                <td style="text-align:center;">{{forloop.counter}}</td>
                                                <td style="text-align:left;">{{van_data.created_date|date:"d/m/Y"}}</td>
                                                <td style="text-align:left;">{{van_data.van.van_make}} - {{van_data.van.plate}}</td>
                                                <td style="text-align:left;">{{van_data.product.product_name}}</td>
                                                <td style="text-align:center;">{{van_data.opening_count}}</td>
                                                <td style="text-align:center;">{{stock_details.requested_count}}</td>
                                                <td style="text-align:center;">{{stock_details.issued_count}}</td>
                                                <td style="text-align:center;">{{van_data.empty_can_count}}</td>
                                                <td style="text-align:center;">{{van_data.sold_count }}</td>
                                                <td style="text-align:center;">{{van_data.return_count}}</td>
                                                <td style="text-align:center;">{{stock_details.offload_count}}</td>
                                                <td style="text-align:center;">{{van_data.stock}}</td>
                                                <td style="text-align:center;">{{van_data.closing_count}}</td>
                                                {% comment %} <td>
                                                    <div class="g-2">
                                                       
                                                        <a aria-label="anchor" class="btn btn-danger-light btn-sm ms-2" data-bs-toggle="tooltip" data-bs-original-title="Delete">
                                                            <span class="ri-delete-bin-7-line fs-14"></span>
                                                        </a>
                                                </div> {% endcomment %}
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            {% comment %} </div>
                        </div>
                    </div> {% endcomment %}
                    
                    
                    
                </div>
            </div>
        </div>
        <!-- End:: row-2 -->


      
    </div>
</div>
<!-- End::app-content -->


{% endblock %}



