{% extends 'base.html' %}
{% block title %} Periodic Collection Report {% endblock %}
{% block content %}


<!-- Page Header -->
<div class="page-header-breadcrumb d-md-flex d-block align-items-center justify-content-between ">
    <h4 class="fw-medium mb-0">Collection Report</h4>
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="javascript:void(0);" class="text-white-30">Sales Management </a></li>
        <li class="breadcrumb-item active" aria-current="page">Collection Report</li>
    </ol>
</div>
<div class="main-content app-content">
    <div class="container-fluid">
        <!-- Start:: row-2 -->
        <div class="row">
            <div class="col-xl-12">
                <div class="card custom-card">
                    <div class="card-header">
                        <div class="card-title">
                             Collection Report
                        </div>
                    </div>
                        <div class="mt">
                            <form method="GET">
                                <div class="card-body">
                                    <div class="row align-items-center">
                                        <div class="col">
                                            <label for="start_date">From Date:</label>
                                            <input type="date" class="form-control" id="start_date" name="start_date" value="{{ filter_data.start_date }}">
                                        </div>
                                        <div class="col">
                                            <label for="end_date">To Date:</label>
                                            <input type="date" class="form-control" id="end_date" name="end_date" value="{{ filter_data.end_date }}">
                                        </div>
                                        
                                        <div class="row col-md-6" style="">
                                        <div class="col">
                                        <label for="product">Routes :</label>
                                        <select name="route_name" class="form-select">
                                            <option value="">All Routes</option>
                                            {% for route in routes %}
                                                <option value="{{ route.route_name }}"  {% if filter_data.selected_route == route.route_name %}selected{% endif %}>{{ route.route_name }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="col d-flex align-items-end justify-content-end">
                                        <input type="submit" class="btn btn-primary btn-sm mx-1" value="Apply Filter">
                                        <button type="button" class="btn btn-secondary btn-sm mx-1" onclick="resetFilters()" style="width:max-content">Reset Filter</button>
                                        <a href="{% url 'collection_report_excel' %}?start_date={{ filter_data.start_date }}&end_date={{ filter_data.end_date }}&route_name={{ filter_data.route_name }}&selected_product_id={{ filter_data.product_id }}" class="btn btn-outline-success"><i class="fas fa-file-excel"></i>Excel</a>
                                        <a onclick="printDiv('printArea'); return false;"class="btn btn-outline-success"><i class="fas fa-print"></i>Print</a>
                                    </div>
                                        
                                    </div>
                                </div>
                            </form>
                        </div>  
                        <div id="table-container" style="overflow:scroll;">
                            <div class="card-body">
                                <table id="responsiveDataTable" class="table table-bordered text-wrap" style="width: 100%">
                                    <thead>
                                        <tr>
                                        <th style="text-align:center;width:5%;" scope="col">Sl.No</th>
                                        <th style="text-align:center;" scope="col">Date</th>
                                        <th style="text-align:center;" scope="col">Customer/<br>Mobile No</th>
                                        <th style="text-align:center;" scope="col">Route</th>
                                        <th style="text-align:center;" scope="col">Building Name<br>No</th>
                                        <th style="text-align:center;" scope="col">Receipt No/<br>Reference No</th>
                                        <th style="text-align:center;" scope="col">Amount</th>
                                        <th style="text-align:center;" scope="col">Amount Recieved</th>
                                        <th style="text-align:center;" scope="col">Balance</th>
                                        <th style="text-align:center;" scope="col">Mode of Payment</th>
                                        <th style="text-align:center;" scope="col">Sales Type</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                        {% load el_pagination_tags %}
                                        {% paginate 20 collection_payments %}
                                        {% for data in collection_payments %}
                                        <tr>
                                            <td style="text-align:right;">{{ forloop.counter }}</td>
                                            <td style="text-align:right;">{{ data.collection_payment.created_date|date }}</td>
                                            <td style="text-align:left;">{{ data.collection_payment.customer.customer_name }}<br>{{ data.collection_payment.customer.mobile_no }}</td>
                                            <td style="text-align:left;">{{ data.collection_payment.customer.routes.route_name }}</td>
                                            <td style="text-align:left;">{{ data.collection_payment.customer.building_name }}<br>{{ data.collection_payment.customer.door_house_no }}</td>
                                            <td style="text-align:right;">{{ data.invoice.reference_no }}</td>
                                            <td style="text-align:right;">{{ data.amount }}</td>
                                            <td style="text-align:right;">{{ data.amount_received }}</td>
                                            <td style="text-align:right;">{{ data.balance }}</td>
                                            <td style="text-align:left;">{{ data.collection_payment.payment_method }}</td>
                                            <td style="text-align:left;">{{ data.collection_payment.customer.sales_type }}</td>
                                        </tr>
                                    {%endfor%}
                                    </tbody>
                                </table>
                            </div>
                            {% get_pages %}
                            <div class="clearfix"></div>
                            <div class="row pagi my-3">
                                <div class="col-sm-6 col-xs-6 tot my-pagination">
                                    <div class="m-t-10 text-start">
                                        Showing {{title}}
                                        <span class="current_page_index">{{ pages.current_start_index }}</span> - <span
                                        class="current_end_status">{{ pages.current_end_index }}</span> of <span
                                        class="total_count">{{ pages.total_count }}</span>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-xs-6 text-end pagination-btn-div">{% show_pages %}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<div id="printArea"  style="display: none; padding: 10em;">
    <div style="margin-top: 4em; ">
        <h3 style="text-align: center; ;">National Water</h3>
    </div>


    <table class="table table-bordered text-wrap " style="width: 100%; margin-top: 1em;">
        <thead>
            <tr>
                <th style="text-align:center;width:5%;" scope="col" style="border-bottom: 1; max-width: 5em;">Sl No</th>
                <th style="text-align:center;" scope="col" style="border-bottom: 1; ">Date & Time</th>
                <th style="text-align:center;" scope="col" style="border-bottom: 1;">Customer/<br>Mobile No</th>
                <th style="text-align:center;" scope="col" style="border-bottom: 1;">Route</th>
                <th style="text-align:center;" scope="col" style="border-bottom: 1;">Building Name<br>No</th>
                <th style="text-align:center;" scope="col" style="border-bottom: 1;">Receipt No/<br>Reference No</th>
                <th style="text-align:center;" scope="col">Amount</th>
                <th style="text-align:center;" scope="col">Amount Recieved</th>
                <th style="text-align:center;" scope="col">Balance</th>
                <th style="text-align:center;" scope="col" style="border-bottom: 1; ">Mode of Payment</th>
            </tr>
        </thead>
        <tbody>
            {% for data in collection_payments %}
                                
            <tr>
                <td style="text-align:right;" >{{ forloop.counter }}</td>
                <td style="text-align:right;" >{{ data.collection_payment.created_date }}</td>
                <td style="text-align:left;" >{{ data.collection_payment.customer.customer_name }}<br>{{ data.collection_payment.customer.mobile_no }}</td>
                <td style="text-align:left;" >{{ data.collection_payment.customer.routes.route_name }}</td>
                <td style="text-align:left;" >{{ data.collection_payment.customer.building_name }}<br>{{ data.collection_payment.customer.door_house_no }}</td>
                <td style="text-align:right;" >{{ data.invoice.reference_no }}</td>
                <td style="text-align:right;" >{{ data.amount }}</td>
                <td style="text-align:right;" >{{ data.amount_received }}</td>
                <td style="text-align:right;" >{{ data.balance }}</td>
                <td style="text-align:left;" >{{ data.collection_payment.payment_method }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>


<script>
    function printDiv(divName) {
        var printContents = document.getElementById(divName).innerHTML;
        var originalContents = document.body.innerHTML;
        document.body.innerHTML = printContents;
        window.print();
        document.body.innerHTML = originalContents;
    }
</script>



<script>
    function resetFilters() {
        // Redirect to the same page
        location.href = "{% url 'collectionreport' %}";
    }
</script>

{% endblock %}
