{% extends 'base.html' %}
{% block title %} Periodic Collection Report {% endblock %}
{% block content %}


<!-- Page Header -->
<div class="page-header-breadcrumb d-md-flex d-block align-items-center justify-content-between ">
    <h4 class="fw-medium mb-0">Periodic Collection Report</h4>
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="javascript:void(0);" class="text-white-30">Sales Management </a></li>
        <li class="breadcrumb-item active" aria-current="page">Periodic Collection Report</li>
    </ol>
</div>
<div class="main-content app-content">
    <div class="container-fluid">
        <!-- Start:: row-2 -->
        <div class="row">
            <div class="col-xl-12">
                <div class="card custom-card">
                    <div class="card-header">
                        <div class="card-title">
                            Periodic Collection Report
                        </div>
                    </div>

                    <div class="" >
                        <form method="get">
                            <div class="row mt-3">
                                <div class="row col-md-6">
                                    <div id="datePeriodDiv" class="row col-12">
                                        <div class="col-md-3 col-form-label text-end" >
                                            <p>Start and <br> End Date</p>
                                        </div>
                                        
                                            <div class="col-md-5" >
                                                <input name="start_date" type="date" class="form-select" style="width: min-content;" value="{{ filter_data.start_date }}">
                                            </div>
                                            
                                            <div class="col-md-4" >
                                                <input name="end_date" type="date" class="form-select" style="width: min-content;" value="{{ filter_data.end_date }}">
                                            
                                        </div>
                                    </div>
                                </div>
                                <div class="row col-md-6" style="">
                                    <div class="col-md-3 col-form-label text-end">
                                        <p>Route</p>
                                    </div>
                                    <div class="col-md-4">
                                        <select name="route_name"  class="form-select" style="width:100%">
                                            <option value="" disabled {% if not selected_route %}selected{% endif %}>-----------------------------</option>

                                            {% if selected_route %}
                                                <option value="{{ selected_route_id }}" selected>{{ selected_route }}</option>
                                            {% endif %}
                                            {% for route in routes %}
                                                <option value="{{ route.route_name }}">{{ route.route_name }}</option>
                                            {% endfor %}
                                        </select>
                                    </div> 
                                    <div class="col-md-5 text-end">
                                        <input type="submit" class="btn btn-primary btn-sm" value="Apply Filter">
                                        <button type="button" class="btn btn-secondary btn-sm" onclick="resetFilters()">Reset Filter</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                        
                    </div>
                    <div class="row" style=" align-items: center;">
                        <div class="col-md-6 text-center"> <!-- Column for the text, taking half the width -->
                            <!-- Add your text here -->
                            <!-- <h6>Date: {% if start_date and end_date %}{{ start_date }} -> {{ end_date }}{% elif selected_date %}{{ selected_date }}{% else %}{{ today|date:"Y-m-d" }}{% endif %}</h6> -->
                        </div>
                        <div class="col-4"></div>
                        <!-- <div class="col-md-2"> 
                            <div class="ms-auto">
                                <a href="{% url 'filter_route' action="change" %}">
                                    <button type="button" class="btn btn-success btn-wave text-end d-flex me-4 my-auto">
                                        <i class="bi bi-plus-circle me-1"></i>Create
                                    </button>
                                </a>
                            </div>
                        </div> -->
                    </div>
                    <div class="card-body">
                        <div style="float:right;padding:10px 0px">
                                        
                            <div class="input-group">
                               
                                <a href="{% url 'collection_report_excel' %}?start_date={{start_date_str}}&route_name={{route_filter}}&end_date={{end_date_str}}" class="btn btn-outline-success" style="width: 7em;"><i class="fas fa-file-excel"></i> Excel</a>
                            </div>
                           
                        </div>
                        <div style="float:right;padding:10px 0px">
                            <a  onclick="printDiv('printArea'); return false;" class="btn btn-outline-success " style="width: 7em;">
                                <i class="fas fa-print"></i> Print
                            </a>

                        </div>
                        <table class="table table-bordered text-nowrap" style="width:100%">
                            <thead>
                                <tr>
                                <th scope="col" class="text-center">Sl.No</th>
                                <th scope="col" class="text-left">Date</th>
                                <th scope="col" class="text-center">Customer/<br>Mobile No</th>
                                <th scope="col" class="text-right">Route</th>
                                <th scope="col" class="text-right">Building Name<br>No</th>
                                <th scope="col" class="text-right">Receipt No/<br>Reference No</th>
                                <th scope="col" class="text-right">Amount</th>
                                <th scope="col" class="text-right">Amount Recieved</th>
                                <th scope="col" class="text-right">Balance</th>
                                <th scope="col" class="text-right">Mode of Payment</th>
                                <th scope="col" class="text-right">Sales Type</th>
                            </tr>
                            </thead>
                            <tbody>
                                {% load el_pagination_tags %}
                                {% paginate 20 collection_payments %}
                                {% for data in collection_payments %}
                                <tr>
                                    <td class="text-center">{{ forloop.counter }}</td>
                                    <td class="text-center">{{ data.collection_payment.created_date|date }}</td>
                                    <td class="text-center">{{ data.collection_payment.customer.customer_name }}<br>{{ data.collection_payment.customer.mobile_no }}</td>
                                    <td class="text-center">{{ data.collection_payment.customer.routes.route_name }}</td>
                                    <td class="text-center">{{ data.collection_payment.customer.building_name }}<br>{{ data.collection_payment.customer.door_house_no }}</td>
                                    <td class="text-center">{{ data.invoice.reference_no }}</td>
                                    <td class="text-center">{{ data.amount }}</td>
                                    <td class="text-center">{{ data.amount_received }}</td>
                                    <td class="text-center">{{ data.balance }}</td>
                                    <td class="text-center">{{ data.collection_payment.payment_method }}</td>
                                    <td class="text-center">{{ data.collection_payment.customer.sales_type }}</td>
                                </tr>
                            {%endfor%}
                            </tbody>
                        </table>
                        {% get_pages %}
                        <div class="clearfix"></div>
                        <div class="row pagi my-3">
                            <div class="col-sm-6 col-xs-6 tot my-pagination">
                                <div class="m-t-10 text-start">
                                    Showing {{title}}
                                    <span class="current_page_index">{{ pages.current_start_index }}</span> - <span
                                    class="current_end_status">{{ pages.current_end_index }}</span> of <span
                                    class="total_count">{{ pages.total_count }}</span>
                                </div>
                            </div>
                            <div class="col-sm-6 col-xs-6 text-end pagination-btn-div">{% show_pages %}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<div id="printArea"  style="display: none; padding: 10em;">
    <div style="margin-top: 4em; ">
        <h3 style="text-align: center; ;">National Water</h3>
    </div>


    <table class="table table-bordered text-wrap " style="width: 100%; margin-top: 1em;">
        <thead>
            <tr>
                <th scope="col" style="border-bottom: 1; max-width: 5em;">Sl No</th>
                <th scope="col" style="border-bottom: 1; ">Date & Time</th>
                <th scope="col" style="border-bottom: 1;">Customer/<br>Mobile No</th>
                <th scope="col" style="border-bottom: 1;">Route</th>
                <th scope="col" style="border-bottom: 1;">Building Name<br>No</th>
                <th scope="col" style="border-bottom: 1;">Receipt No/<br>Reference No</th>
                <th scope="col">Amount</th>
                <th scope="col">Amount Recieved</th>
                <th scope="col">Balance</th>
                <th scope="col" style="border-bottom: 1; ">Mode of Payment</th>
            </tr>
        </thead>
        <tbody>
            {% for data in collection_payments %}
                                
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ data.collection_payment.created_date }}</td>
                <td>{{ data.collection_payment.customer.customer_name }}<br>{{ data.collection_payment.customer.mobile_no }}</td>
                <td>{{ data.collection_payment.customer.routes.route_name }}</td>
                <td>{{ data.collection_payment.customer.building_name }}<br>{{ data.collection_payment.customer.door_house_no }}</td>
                <td>{{ data.invoice.reference_no }}</td>
                <td>{{ data.amount }}</td>
                <td>{{ data.amount_received }}</td>
                <td>{{ data.balance }}</td>
                <td>{{ data.collection_payment.payment_method }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>


<script>
    function printDiv(divName) {
        var printContents = document.getElementById(divName).innerHTML;
        var originalContents = document.body.innerHTML;
        document.body.innerHTML = printContents;
        window.print();
        document.body.innerHTML = originalContents;
    }
</script>



<script>
    function resetFilters() {
        // Redirect to the same page
        location.href = "{% url 'collectionreport' %}";
    }
</script>

{% endblock %}
