              <!-- Start:: row-2 -->
              <div class="row d-none" id="credit_customerform">
                <div class="col-xl-12">
                    <div class="card custom-card">
                        <div class="card-header">
                            {% comment %} <div class="card-title">
                                Credit Customer Order form
                            </div> {% endcomment %}
                        </div>
                            <div class="card-body">
                              {% comment %} <form id="sale_form" method="get" action="">
                                <div class="form-group mt-3">
                                  <label for="qty_needed">Qty Needed</label>
                                  <input type="number" class="form-control" id="qty_needed" name="qty_needed">
                                </div>
                                <div class="form-group mt-3">
                                    <label for="empty_bottles">Empty Bottles to Collect</label>
                                    <input type="number" class="form-control" id="empty_bottles" name="empty_bottles">
                                </div>
                                <div class="form-group mt-3">
                                    <label for="collected_bottles">Collected Bottles</label>
                                    <input type="number" class="form-control" id="collected_bottles" name="collected_bottles">
                                </div>
                                <div class="form-group mt-3">
                                    <label for="bottle_variations">Bottle Variations</label>
                                    <input type="number" class="form-control" id="bottle_variations" name="bottle_variations">
                                </div>
                                <div class="form-group mt-3 d-flex align-items-center mt-4">
                                  <label>Status:</label>&nbsp;&nbsp;&nbsp;
                                  <input type="checkbox" id="foc" name="status" value="foc">
                                  <label for="foc">FOC</label>&nbsp;&nbsp;&nbsp;
                                  <input type="checkbox" id="pending" name="status" value="pending" checked>
                                  <label for="pending">PENDING</label>&nbsp;&nbsp;&nbsp;
                                  <input type="checkbox" id="custody" name="status" value="custody">
                                  <label for="custody">CUSTODY</label>&nbsp;&nbsp;&nbsp;
                                  <input type="checkbox" id="paid" name="status" value="paid">
                                  <label for="paid">PAID</label>
                              </div>
                              <button class="btn btn-success btn-wave mt-4">Proceed</button>
  
                              </form> {% endcomment %}
                          </div>
                  <!-- End:: row-1 -->
                  </div>
                </div>