{% extends 'base.html' %}
{% block title %} Dialy Summery Report {% endblock %}
{% block content %}
{% load van_template_tags %}
{% load sales_templatetags %}

<!-- Page Header -->
<div class="page-header-breadcrumb d-md-flex d-block align-items-center justify-content-between ">
    <h4 class="fw-medium mb-0">Dialy Summery Report</h4>
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="javascript:void(0);" class="text-white-30">Sales Management </a></li>
        <li class="breadcrumb-item active" aria-current="page">Dialy Summery Report</li>
    </ol>
</div>
<div class="main-content app-content">
    <div class="container-fluid">
        <!-- Start:: row-2 -->
        <div class="row">
            <div class="col-xl-12">
                <div class="card custom-card">
                    <div class="card-header">
                        <div class="card-title">
                            Dialy Summery Report
                        </div>
                    </div>
                    <div class="mt">
                        <form method="GET" action=".">
                            <div class="card-body">
                                <div class="row align-items-center">
                                    <div class="col-4">
                                        <label for="date">Date:</label>
                                        <input type="date" class="form-control" id="date" name="date" value="{{ filter_data.filter_date }}">
                                    </div>
                                    <div class="col-4">
                                        <label for="product">Routes :</label>
                                        <select name="route_name" class="form-select">
                                            <option value="">All Routes</option>
                                            {% for route in routes_instances %}
                                                <option value="{{ route.route_name }}"  {% if route.route_name == filter_data.route_name %}selected{% endif %}>{{ route.route_name }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="col d-flex align-items-end justify-content-end">
                                        <input type="submit" class="btn btn-primary btn-sm mx-1" value="Apply Filter">
                                        {% if data_filter %}
                                        <button type="button" class="btn btn-secondary btn-sm mx-1" onclick="resetFilters()" style="width:max-content">Reset Filter</button>
                                        {% endif %}
                                        {% comment %} <a href="{% url 'export_dsr_summary' %}?date={{ filter_data.filter_date }}&route_name={{ filter_data.route_name }}" class="btn btn-outline-success btn-sm mx-1"><i class="fas fa-file-excel"></i>Excel</a> {% endcomment %}
                                        <a href="{% url 'print_dsr_summary' %}?date={{ filter_data.filter_date }}&route_name={{ filter_data.route_name }}" class="btn btn-outline-success btn-sm mx-1" target="__blank"><i class="fas fa-file-excel"></i>Print</a>

                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    {% if data_filter %}
                    <div >
                        <div class="card-body">
                            <div class="row align-items-center">
                                <div class="col-4">
                                    <p><strong>Salesman: {{van_route.van.salesman.get_fullname}}</strong></p>
                                </div>
                                <div class="col-4">
                                    <p><strong>Driver: {{van_route.van.driver.get_fullname}}</strong></p>
                                </div>
                            </div>
                            {% comment %} <div class="row align-items-center">
                                <div class="col-4">
                                    <p>Route: {{van_route.routes.route_name}}</p>
                                </div>
                                <div class="col-4">
                                    <p>Date: {{ filter_data.filter_date }}</p>
                                </div>
                            </div> {% endcomment %}
                        </div>
                    </div>

                    <div id="table-container">
                        <div class="card-body">
                            <table  class="table table-bordered text-wrap" style="width: 100%">
                                <thead>
                                    <tr>
                                        <th class="text-center text-bold" colspan="5">Visit Statistics</th>
                                    </tr>
                                    <tr>
                                        <th style="text-align:center;">New Customer Created</th>
                                        <th style="text-align:center;">Planned Visit</th>
                                        <th style="text-align:center;">Visited</th>
                                        <th style="text-align:center;">Non Visited</th>
                                        <th style="text-align:center;">Emergency Supply</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td style="text-align:center;">{{new_customers_count}}</td>
                                        <td style="text-align:center;">{{planned_visit_count}}</td>
                                        <td style="text-align:center;">{{visited_customers_count}}</td>
                                        <td style="text-align:center;">{{non_visited_count}}</td>
                                        <td style="text-align:center;">{{emergency_supply_count}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div id="table-container">
                        <div class="card-body">
                            <table  class="table table-bordered text-wrap" style="width: 100%">
                                <thead>
                                    <tr>
                                        <th class="text-center text-bold" colspan="10">Stock Report</th>
                                    </tr>
                                    <tr>
                                        <th scope="col" style="text-align:center;">Product Name</th>
                                        <th scope="col" style="text-align:center;">Opening Stock</th>
                                        <th scope="col" style="text-align:center;">Requested Stock</th>
                                        <th scope="col" style="text-align:center;">Issued</th>
                                        <th scope="col" style="text-align:center;">Sold</th>
                                        <th scope="col" style="text-align:center;">Returned</th>
                                        <th scope="col" style="text-align:center;">Offload</th>
                                        <th scope="col" style="text-align:center;">Empty Bottle</th>
                                        <th scope="col" style="text-align:center;">Fresh Stock</th>
                                        <th scope="col" style="text-align:center;">Closing</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for van_data in van_product_stock %}
                                    {% get_van_product_wise_stock filter_data.filter_date van_data.van.pk van_data.product.pk as stock_details %}
                                    <tr>
                                        <td style="text-align:center;">{{van_data.product.product_name}}</td>
                                        <td style="text-align:center;">{{van_data.opening_count}}</td>
                                        <td style="text-align:center;">{{stock_details.requested_count}}</td>
                                        <td style="text-align:center;">{{stock_details.issued_count}}</td>
                                        <td style="text-align:center;">{{van_data.sold_count }}</td>
                                        <td style="text-align:center;">{{van_data.return_count}}</td>
                                        <td style="text-align:center;">{{stock_details.offload_count}}</td>
                                        <td style="text-align:center;">{{van_data.empty_can_count}}</td>
                                        <td style="text-align:center;">{{stock_report_total}}</td>
                                        <td style="text-align:center;">{{van_data.closing_count}}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div id="table-container">
                        <div class="card-body">
                            <table  class="table table-bordered text-wrap" style="width: 100%">
                                <thead>
                                    <tr>
                                        <th class="text-center text-bold" colspan="10">Pending Bottle</th>
                                    </tr>
                                    <tr>
                                        <th scope="col" style="text-align:center;">Sl No</th>
                                        <th scope="col" style="text-align:center;">Customer Name</th>
                                        <th scope="col" style="text-align:center;">Building Name /Room No</th>
                                        <th scope="col" style="text-align:center;">Mode Of Supply</th>
                                        <th scope="col" style="text-align:center;">Qty Supplied</th>
                                        <th scope="col" style="text-align:center;">Bottles Pending</th>
                                    </tr>
                                </thead>
                               <tbody>
                                    {% for row in pending_bottle_customer_instances %}
                                    <tr>
                                        <td>{{ forloop.counter }}</td>
                                        <td>{{ row.customer.customer_name }}</td>
                                        <td>{{ row.customer.building_name }}</td>
                                        <td style="text-align:center;">{{ row.customer.get_sales_type_display }}</td>                                      
                                        <td style="text-align:center;">{{ row.get_total_supply_qty }}</td>
                                        <td style="text-align:center;">{{ row.allocate_bottle_to_pending }}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div id="table-container">
                        <div class="card-body">
                            <table  class="table table-bordered text-wrap" style="width: 100%">
                                <thead>
                                    <tr>
                                        <th class="text-center text-bold" colspan="10">Bottle Count 5 Gallon</th>
                                    </tr>
                                    <tr>
                                        <th scope="col" style="text-align:center;">Van Closing Stock</th>
                                        <th scope="col" style="text-align:center;">Today supplied</th>
                                        <th scope="col" style="text-align:center;">Custody</th>
                                        <th scope="col" style="text-align:center;">Pending</th>
                                        <th scope="col" style="text-align:center;">Damaged</th>
                                        <th scope="col" style="text-align:center;">Total</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td style="text-align:center;">{{ closing_stock_count }}</td>
                                        <td style="text-align:center;">{{ total_supplied_bottles }}</td>
                                        <td style="text-align:center;">{{ total_empty_bottles }}</td>
                                        <td style="text-align:center;">{{ pending_bottle_count }}</td>
                                        <td style="text-align:center;">{{ damage_bottle_count }}</td>
                                        <td style="text-align:center;">{{ total_count }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    {% comment %} <div id="table-container">
                        <div class="card-body">
                            <table  class="table table-bordered text-wrap" style="width: 100%">
                                <thead>
                                    <tr>
                                        <th class="text-center text-bold" colspan="8">Coupon Book Sales</th>
                                    </tr>
                                    <tr>
                                        <th style="text-align:center;">Sl No</th>
                                        <th style="text-align:center;">Ref No</th>
                                        <th>Customer</th>
                                        <th>Building Name/no</th>
                                        <th style="text-align:center;">Book No</th>
                                        <th style="text-align:center;">Coupon Book Type</th>
                                        <th style="text-align:center;">Coupon Method</th>
                                        <th style="text-align:center;">Amount</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for customer_coupon_item in customer_coupon_items %}
                                    <tr>
                                        <td style="text-align:center;">{{ forloop.counter }}</td>
                                        <td style="text-align:center;">{{ customer_coupon_item.customer_coupon.reference_number }}</td>
                                        <td>{{ customer_coupon_item.customer_coupon.customer.customer_name }}</td>
                                        <td>{{ customer_coupon_item.customer_coupon.customer.building_name }} /{{ customer_coupon_item.customer_coupon.customer.door_house_no }}/
                                            {{ customer_coupon_item.customer_coupon.customer.floor_no }}
                                        </td>
                                        <td style="text-align:center;">{{ customer_coupon_item.coupon.book_num }}</td>
                                        <td>{{ customer_coupon_item.coupon.coupon_type.coupon_type_name }}</td>
                                        <td>{{ customer_coupon_item.coupon.coupon_method }}</td>
                                        <td style="text-align:center;">{{ customer_coupon_item.rate }}</td>

                                    </tr>
                                {% endfor %} 
                                </tbody>
                            </table>
                        </div>
                    </div> {% endcomment %}

                    <div id="table-container">
                        <div class="card-body">
                            <table  class="table table-bordered text-wrap" style="width: 100%">
                                <thead>
                                    <tr>
                                        <th class="text-center text-bold" colspan="8">Coupon Book Sales</th>
                                    </tr>
                                    <tr>
                                        <th style="text-align:center;">Sl No</th>
                                        <th style="text-align:center;">Ref No</th>
                                        <th>Customer</th>
                                        <th style="text-align:center;">Coupon Details</th>
                                        
                                        <th style="text-align:center;">Total</th>
                                        <th style="text-align:center;">Discount</th>
                                        <th style="text-align:center;">Total Payeble</th>
                                        <th style="text-align:center;">Amount Recieved</th>
                                        <th style="text-align:center;">Balance</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for customer_coupon in customer_coupons %}
                                    <tr>
                                        <td style="text-align:center;">{{ forloop.counter }}</td>
                                        <td style="text-align:center;">{{ customer_coupon.reference_number }}</td>
                                        <td>{{ customer_coupon.customer.customer_name }}</td>
                                        {% comment %} <td>{{ customer_coupon.customer.building_name }} /{{ customer_coupon.customer.door_house_no }}/
                                            {{ customer_coupon.customer.floor_no }}
                                        </td> {% endcomment %}
                                        <td class="p-0">
                                            <table  class="table table-bordered" style="width: 100%">
                                                <tr>
                                                    <th>Coupon Type</th>
                                                    <th style="text-align:center;">Book No.</th>
                                                    <th style="text-align:center;">Method</th>
                                                    <th style="text-align:center;">Rate</th>
                                                </tr>
                                                {% get_customer_coupon_details customer_coupon.pk as coupon_items %}
                                                {% for item in coupon_items %}
                                                <tr>
                                                    <td>{{ item.coupon.coupon_type.coupon_type_name }}</td>
                                                    <td style="text-align:center;">{{ item.coupon.book_num }}</td>
                                                    <td>{{ item.coupon.coupon_method }}</td>
                                                    <td style="text-align:center;">{{ item.rate }}</td>
                                                </tr>
                                                {% endfor %}
                                            </table>
                                        </td>
                                        <td style="text-align:center;">{{ customer_coupon.grand_total }}</td>
                                        <td style="text-align:center;">{{ customer_coupon.discount }}</td>
                                        <td style="text-align:center;">{{ customer_coupon.total_payeble }}</td>
                                        <td style="text-align:center;">{{ customer_coupon.amount_recieved }}</td>
                                        <td style="text-align:center;">{{ customer_coupon.balance }}</td>
                                    </tr>
                                {% endfor %} 
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div id="table-container">
                        <div class="card-body">
                            <table  class="table table-bordered text-wrap" style="width: 100%">
                                <thead>
                                    <tr>
                                        <th class="text-center text-bold" colspan="10">FOC Customers</th>
                                    </tr>
                                    <tr>
                                        <th scope="col" style="text-align:center;">Sl No</th>
                                        <th scope="col" style="text-align:center;">Customer Name</th>
                                        <th scope="col" style="text-align:center;">Route</th>
                                        <th scope="col" style="text-align:center;">Quantity</th>
                                    </tr>
                                </thead>
                               <tbody>
                                    {% for foc in foc_customers %}
                                    <tr>
                                        <td style="text-align:center;">{{ forloop.counter }}</td>
                                        <td>{{ foc.customer.customer_name }}</td>
                                        <td style="text-align:center;">{{ foc.customer.routes.route_name }}</td>                                      
                                        <td style="text-align:center;">{{ foc.get_total_supply_qty }}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div id="table-container">
                        <div class="card-body">
                            <table  class="table table-bordered text-wrap" style="width: 100%">
                                <thead>
                                    <tr>
                                        <th class="text-center text-bold" colspan="8">Cash Sales</th>
                                    </tr>
                                    <tr>
                                        <th style="text-align:center;">Sl No</th>
                                        <th style="text-align:center;" scope="col">Reference No</th>
                                        <th style="text-align:center;" scope="col">Customer Name</th>
                                        <th style="text-align:center;" scope="col">Total QTY</th>
                                        <th style="text-align:center;" scope="col">Rate</th>
                                        {% comment %} <th style="text-align:center;" scope="col">Vat</th> {% endcomment %}
                                        <th style="text-align:center;" scope="col">Grand Total</th>
                                        <th style="text-align:center;" scope="col">Net Payable</th>
                                        <th style="text-align:center;" scope="col">Cash Recieved</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for sale in cash_sales %}
                                    <tr>
                                        <td style="text-align:center;">{{forloop.counter}}</td>
                                        <td style="text-align:center;">{{sale.reference_number}}</td>
                                        <td>{{sale.customer.customer_name}}</td>
                                        <td style="text-align:center;">{{sale.get_total_supply_qty}}</td>
                                        <td style="text-align:center;">{{sale.customer.get_water_rate}}</td>
                                        {% comment %} <td style="text-align:center;">{{sale.vat}}</td> {% endcomment %}
                                        <td style="text-align:center;">{{sale.subtotal}}</td>
                                        <td style="text-align:center;">{{sale.net_payable}}</td>
                                        <td style="text-align:center;">{{sale.amount_recieved}}</td>
                                    </tr>
                                    {% endfor %}
                                    {% for sale in recharge_cash_sales %}
                                    <tr>
                                        <td style="text-align:center;background-color:#ff9a44 !important;">{{forloop.counter}}</td>
                                        <td style="text-align:center;background-color:#ff9a44 !important;">{{sale.reference_number}}</td>
                                        <td style="background-color:#ff9a44 !important;">{{sale.customer.customer_name}}</td>
                                        <td style="text-align:center;background-color:#ff9a44 !important;">1</td>
                                        <td style="text-align:center;background-color:#ff9a44 !important;">{{sale.display_coupon_rates}}</td>
                                        {% comment %} <td style="text-align:center;">0</td> {% endcomment %}
                                        <td style="text-align:center;background-color:#ff9a44 !important;">{{sale.grand_total}}</td>
                                        <td style="text-align:center;background-color:#ff9a44 !important;">{{sale.net_amount}}</td>
                                        <td style="text-align:center;background-color:#ff9a44 !important;">{{sale.amount_recieved}}</td>
                                    </tr>
                                {% endfor %}  
                                </tbody>
                                <!-- Table Footer -->
                                <tfoot>
                                    <tr>
                                        <td colspan="3" style="text-align: right;">Total:</td>
                                        <td style="text-align:center;">{{ cash_total_qty }}</td>
                                        <td style="text-align:center;">-</td>
                                        <td style="text-align:center;">{{ cash_total_subtotal }}</td>
                                        <td style="text-align:center;">{{ cash_total_net_taxable }}</td>
                                        <td style="text-align:center;">{{ cash_total_amount_recieved }}</td>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>

                    <div id="table-container">
                        <div class="card-body">
                            <table  class="table table-bordered text-wrap" style="width: 100%">
                                <thead>
                                    <tr>
                                        <th class="text-center text-bold" colspan="8">Credit Sales</th>
                                    </tr>
                                    <tr>
                                        <th style="text-align:center;">Sl No</th>
                                        <th style="text-align:center;" scope="col">Reference No</th>
                                        <th style="text-align:center;" scope="col">Customer Name</th>
                                        <th style="text-align:center;" scope="col">Total QTY</th>
                                        <th style="text-align:center;" scope="col">Rate</th>
                                        {% comment %} <th style="text-align:center;" scope="col">Vat</th> {% endcomment %}
                                        <th style="text-align:center;" scope="col">Grand Total</th>
                                        <th style="text-align:center;" scope="col">Net Payable</th>
                                        <th style="text-align:center;" scope="col">Cash Recieved</th>
                                        
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for sale in credit_sales %}
                                    <tr>
                                        <td style="text-align:center;">{{forloop.counter}}</td>
                                        <td style="text-align:center;">{{sale.reference_number}}</td>
                                        <td>{{sale.customer.customer_name}}</td>
                                        <td style="text-align:center;">{{sale.get_total_supply_qty}}</td>
                                        <td style="text-align:center;">{{sale.customer.get_water_rate}}</td>
                                        {% comment %} <td style="text-align:center;">{{sale.vat}}</td> {% endcomment %}
                                        <td style="text-align:center;">{{sale.subtotal}}</td>
                                        <td style="text-align:center;">{{sale.net_payable}}</td>
                                        <td style="text-align:center;">{{sale.amount_recieved}}</td>
                                    </tr>
                                {% endfor %} 
                                {% for sale in recharge_credit_sales %}
                                    <tr>
                                        <td style="text-align:center;background-color:#ff9a44 !important;">{{forloop.counter}}</td>
                                        <td style="text-align:center;background-color:#ff9a44 !important;">{{sale.reference_number}}</td>
                                        <td style="background-color:#ff9a44 !important;">{{sale.customer.customer_name}}</td>
                                        <td style="text-align:center;background-color:#ff9a44 !important;">1</td>
                                        <td style="text-align:center;background-color:#ff9a44 !important;">{{sale.display_coupon_rates}}</td>
                                        {% comment %} <td style="text-align:center;">0</td> {% endcomment %}
                                        <td style="text-align:center;background-color:#ff9a44 !important;">{{sale.grand_total}}</td>
                                        <td style="text-align:center;background-color:#ff9a44 !important;">{{sale.net_amount}}</td>
                                        <td style="text-align:center;background-color:#ff9a44 !important;">{{sale.amount_recieved}}</td>
                                    </tr>
                                {% endfor %} 
                                </tbody>
                                <!-- Table Footer -->
                                <tfoot>
                                    <tr>
                                        <td colspan="3" style="text-align: right;">Total:</td>
                                        <td style="text-align:center;">{{ credit_total_qty }}</td>
                                        <td style="text-align:center;">-</td>
                                        {% comment %} <td style="text-align:center;">{{ credit_total_vat }}</td> {% endcomment %}
                                        <td style="text-align:center;">{{ credit_total_subtotal }}</td>
                                        <td style="text-align:center;">{{ credit_total_net_taxable }}</td>
                                        <td style="text-align:center;">{{ credit_total_amount_recieved }}</td>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>

                    <div id="table-container">
                        <div class="card-body">
                            <table  class="table table-bordered text-wrap" style="width: 100%">
                                <thead>
                                    <tr>
                                        <th class="text-center text-bold" colspan="8">Coupon Sales</th>
                                    </tr>
                                    <tr>
                                        <th style="text-align:center;">Sl No</th>
                                        <th style="text-align:center;" scope="col">Reference No</th>
                                        <th style="text-align:center;" scope="col">Customer Name</th>
                                        <th style="text-align:center;" scope="col">Total QTY</th>
                                        <th style="text-align:center;" scope="col">Rate</th>
                                        <th style="text-align:center;" scope="col">Manual Coupon Recieved</th>
                                        <th style="text-align:center;" scope="col">Digital Coupon Recieved</th>
                                        
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for sale in coupon_sales %}
                                    <tr>
                                        <td style="text-align:center;">{{forloop.counter}}</td>
                                        <td style="text-align:center;">{{sale.reference_number}}</td>
                                        <td>{{sale.customer.customer_name}}</td>
                                        <td style="text-align:center;">{{sale.get_total_supply_qty}}</td>
                                        <td style="text-align:center;">{{sale.customer.get_water_rate}}</td>
                                        <td style="text-align:center;">{{sale.total_coupon_recieved.manual_coupon}}</td>
                                        <td style="text-align:center;">{{sale.total_coupon_recieved.digital_coupon}}</td>
                                    </tr>
                                {% endfor %} 
                                </tbody>
                                <!-- Table Footer -->
                                <tfoot>
                                    <tr>
                                        <td colspan="3" style="text-align: right;">Total:</td>
                                        <td style="text-align:center;">{{ coupon_total_qty }}</td>
                                        <td style="text-align:center;">-</td>
                                        <td style="text-align:center;">{{ manual_coupon_total }}</td>
                                        <td style="text-align:center;">{{ digital_coupon_total }}</td>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>

                    <div id="table-container">
                        <div class="card-body">
                            <table  class="table table-bordered text-wrap" style="width: 100%">
                                <thead>
                                    <tr>
                                        <th class="text-center text-bold" colspan="7">Credit Outstanding</th>
                                    </tr>
                                    <tr>
                                        <th style="text-align:center;" scope="col">Credit Outstanding</th>
                                        <th style="text-align:center;" scope="col">Credit Outstanding Collection</th>
                                        <th style="text-align:center;" scope="col">Net Outstanding</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td style="text-align:center;">{{outstanding_credit_notes_total_amount}}</td>
                                        <td style="text-align:center;">{{outstanding_credit_notes_received_amount}}</td>
                                        <td style="text-align:center;">{{outstanding_credit_notes_balance}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div id="table-container">
                        <div class="card-body">
                            <table  class="table table-bordered text-wrap" style="width: 100%">
                                <thead>
                                    <tr>
                                        <th class="text-center text-bold" colspan="3">5 Gallon Supplied Retes</th>
                                    </tr>
                                    <tr>
                                        <th style="text-align:center;" scope="col">Rate</th>
                                        <th style="text-align:center;" scope="col">Credit</th>
                                        <th style="text-align:center;" scope="col">Cash</th>
                                        <th style="text-align:center;" scope="col">Coupon</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for rate in five_gallon_rates %}
                                    <tr>
                                        <td style="text-align:center;">{{ rate }}</td>
                                        {% get_five_gallon_ratewise_count rate filter_data.filter_date salesman_id as ratewise_count %}
                                        <td style="text-align:center;">{{ ratewise_count.credit_amount_count }}</td>
                                        <td style="text-align:center;">{{ ratewise_count.debit_amount_count }}</td>
                                        <td style="text-align:center;">{{ ratewise_count.coupon_amount_count }}</td>
                                    </tr>
                                {% endfor %} 
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div id="table-container">
                        <div class="card-body">
                            <table  class="table table-bordered text-wrap" style="width: 100%">
                                <thead>
                                    <tr>
                                        <th class="text-center text-bold" colspan="6">Outstanding Amount Collected</th>
                                    </tr>
                                    <tr>
                                        <th style="text-align:center;" scope="col">Sl.no</th>
                                        <th style="text-align:center;" scope="col">Customer Name</th>
                                        <th style="text-align:center;" scope="col">Building Name/Room no</th>
                                        <th style="text-align:center;" scope="col">Customer Type</th>
                                        <th style="text-align:center;" scope="col">Amount Collected</th>
                                        <th style="text-align:center;" scope="col">Mode</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for instance in dialy_collections %}
                                    <tr>
                                        <td style="text-align:center;">{{ forloop.counter }}</td>
                                        <td>{{ instance.customer.customer_name }}</td>
                                        <td>{{ instance.customer.building_name }} {% if instance.customer.door_house_no %} / {{ instance.customer.door_house_no }} {% endif %}</td>
                                        <td style="text-align:center;">{{ instance.customer.customer_type }}</td>
                                        <td style="text-align:center;">{{ instance.amount_received }}</td>
                                        <td style="text-align:center;">{{ instance.payment_method }}</td>
                                    </tr>
                                {% endfor %} 
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <td colspan="4" style="text-align: right;">Total:</td>
                                        
                                        <td style="text-align:center;">{{ outstanding_total_amount_collected }}</td>
                                        <td style="text-align:center;"></td>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>

                    <div id="table-container">
                        <div class="card-body">
                            <table  class="table table-bordered text-wrap" style="width: 100%">
                                <thead>
                                    <tr>
                                        <th class="text-center text-bold" colspan="3">Expense</th>
                                    </tr>
                                    <tr>
                                        <th style="text-align:center;">Sl No</th>
                                        <th style="text-align:center;" scope="col">Expense Head</th>
                                        <th style="text-align:center;" scope="col">Amount</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for expense in expenses_instanses %}
                                    <tr>
                                        <td style="text-align:center;">{{ forloop.counter }}</td>
                                        <td>{{ expense.expence_type.name }}</td>
                                        <td style="text-align:center;">{{ expense.amount }}</td>
                                    </tr>
                                    {% endfor %} 
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div id="table-container">
                        <div class="card-body">
                            <table  class="table table-bordered text-wrap" style="width: 100%">
                                <thead>
                                    <tr>
                                        <th class="text-center text-bold" colspan="6">Todays Sales and Collection Related</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th>Cash Sales Amount Collected</th>
                                        <td>{{cash_sales_amount_collected}}</td>
                                        <th>No.of Cheque Collected</th>
                                        <td>{{no_of_collected_cheque}}</td>
                                        <th>Cash Sales</th>
                                        <td>{{total_cash_sales_count}}</td>
                                    </tr>
                                    <tr>
                                        <th>Credit Amount Collected</th>
                                        <td>{{credit_sales_amount_collected}}</td>
                                        <th>Cheque Amount</th>
                                        <td>{{collected_cheque_amount}}</td>
                                        <th>Credit Sales</th>
                                        <td>{{total_credit_sales_count}}</td>
                                    </tr>
                                    <tr>
                                        <th></th>
                                        <td></td>
                                        <th></th>
                                        <td></td>
                                        <th>Coupon Sales</th>
                                        <td>{{total_coupon_sales_count}}</td>
                                    </tr>
                                    <tr>
                                        <th>Total Amount Collected</th>
                                        <td>{{total_sales_amount_collected}}</td>
                                        <th></th>
                                        <td></td>
                                        <th>Total Sales</th>
                                        <td>{{total_sales_count}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div id="table-container">
                        <div class="card-body text-center">
                            <p><strong>Balance Cash in Hand:</strong>  {{balance_in_hand}}/- </p>
                            <p><strong>Net Payyable:</strong>  {{net_payble}}/- </p>
                        </div>
                    </div>

                    <div id="table-container">
                        <div class="card-body">
                            <table  class="table table-bordered text-wrap" style="width: 100%">
                                <thead>
                                    <tr>
                                        <th class="text-center text-bold" colspan="5">Suspense</th>
                                    </tr>
                                    <tr>
                                        <th style="text-align:center;">Opening</th>
                                        <th style="text-align:center;">Paid</th> 
                                        <th style="text-align:center;">Closing</th> 
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td style="text-align:center;">{{ net_payble }}</td>
                                        <td style="text-align:center;"></td>
                                        <td style="text-align:center;"></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>

    </div>
</div>





<script>
    function resetFilters() {
        // Redirect to the same page
        location.href = "{% url 'product_route_salesreport' %}";
    }
</script>

{% endblock %}

