{% extends 'base.html' %}
{% block title %} Coupons Sales Report {% endblock %}
{% block content %}
{% load static %}
{% load van_template_tags %}
{% load sales_templatetags %}
<!-- Page Header -->
<div class="page-header-breadcrumb d-md-flex d-block align-items-center justify-content-between ">
    <h4 class="fw-medium mb-0">Coupons Sales Report</h4>
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="javascript:void(0);" class="text-white-30">Sales Management</a></li>
        <li class="breadcrumb-item active" aria-current="page">Coupons Sales Report</li>
    </ol>
</div>
<div class="main-content app-content">
    <div class="container-fluid">
        <!-- Start:: row-2 -->
        <div class="row">
            <div class="col-xl-12">
                <div class="card custom-card">
                    <div class="card-header">
                        <div class="card-title">
                            Coupons Sales Report
                        </div>
                    </div>
                    <div class="mt">
                        <form method="GET" action="{% url 'dsr_coupon_sales' %}">
                            <div class="card-body">
                                <div class="row align-items-center">
                                    <div class="col-4">
                                        <label for="date">Date:</label>
                                        <input type="date" class="form-control" id="date" name="date" value="{{ filter_data.filter_date }}">
                                    </div>
                                    <div class="col-4">
                                        <label for="product">Routes :</label>
                                        <select name="route_name" class="form-select">
                                            <option value="">All Routes</option>
                                            {% for route in routes_instances %}
                                                <option value="{{ route.route_name }}"  {% if route.route_name == filter_data.route_name %}selected{% endif %}>{{ route.route_name }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="col d-flex align-items-end justify-content-end">
                                        <input type="submit" class="btn btn-primary btn-sm mx-1" value="Apply Filter">
                                        {% if data_filter %}
                                        <button type="button" class="btn btn-secondary btn-sm mx-1" onclick="resetFilters()" style="width:max-content">Reset Filter</button>
                                        {% endif %}
                                        
                                        <a href="{% url 'dsr_coupons_sales_print' %}?date={{ filter_data.filter_date }}&route_name={{ filter_data.route_name }}" class="btn btn-outline-success btn-sm mx-1" target="__blank"><i class="fas fa-file-excel"></i>Print</a>

                                    </div>
                                </div>
                                
                            </div>
                        </form>
                    </div>
                    {% if data_filter %}
                    <div >
                        <div class="card-body">
                            <div class="row align-items-center">
                                <div class="col-4">
                                    <p><strong>Salesman: {{van_route.van.salesman.get_fullname}}</strong></p>
                                </div>
                                <div class="col-4">
                                    <p><strong>Driver: {{van_route.van.driver.get_fullname}}</strong></p>
                                </div>
                            </div>
                          
                        </div>
                    </div>
                    <div id="table-container">
                        <div class="card-body">
                            <table  class="table table-bordered text-wrap" style="width: 100%">
                                <thead>
                                    <tr>
                                        <th class="text-center text-bold" colspan="8">Coupon Sales</th>
                                    </tr>
                                    <tr>
                                        <th style="text-align:center;">Sl No</th>
                                        <th style="text-align:center;" scope="col">Reference No</th>
                                        <th style="text-align:center;" scope="col">Customer Name</th>
                                        <th style="text-align:center;" scope="col">Total QTY</th>
                                        <th style="text-align:center;" scope="col">Rate</th>
                                        <th style="text-align:center;" scope="col">Manual Coupon Recieved</th>
                                        <th style="text-align:center;" scope="col">Digital Coupon Recieved</th>
                                        
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for sale in coupon_sales %}
                                    <tr>
                                        <td style="text-align:center;">{{forloop.counter}}</td>
                                        <td style="text-align:center;">{{sale.reference_number}}</td>
                                        <td>{{sale.customer.customer_name}}</td>
                                        <td style="text-align:center;">{{sale.get_total_supply_qty}}</td>
                                        <td style="text-align:center;">{{sale.customer.get_water_rate}}</td>
                                        <td style="text-align:center;">{{sale.total_coupon_recieved.manual_coupon}}</td>
                                        <td style="text-align:center;">{{sale.total_coupon_recieved.digital_coupon}}</td>
                                    </tr>
                                {% endfor %} 
                                </tbody>
                                <!-- Table Footer -->
                                <tfoot>
                                    <tr>
                                        <td colspan="3" style="text-align: right;">Total:</td>
                                        <td style="text-align:center;">{{ coupon_total_qty }}</td>
                                        <td style="text-align:center;">-</td>
                                        <td style="text-align:center;">{{ manual_coupon_total }}</td>
                                        <td style="text-align:center;">{{ digital_coupon_total }}</td>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                    {% endif %}
                </div>    
            </div>
        </div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

<script>

    function resetFilters() {
        // Redirect to the same page
        location.href = "{% url 'dsr_coupon_sales' %}";
    }
</script>

{% endblock %}