{% extends 'base.html' %}
{% block title %} DSR Coupon Book Sales {% endblock %}
{% block content %}
{% load static %}

<!-- Page Header -->
<div class="page-header-breadcrumb d-md-flex d-block align-items-center justify-content-between ">
    <h4 class="fw-medium mb-0">DSR Coupon Book Sales</h4>
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="javascript:void(0);" class="text-white-30">Sales Management</a></li>
        <li class="breadcrumb-item active" aria-current="page">DSR Coupon Book Sales</li>
    </ol>
</div>
<div class="main-content app-content">
    <div class="container-fluid">
        <!-- Start:: row-2 -->
        <div class="row">
            <div class="col-xl-12">
                <div class="card custom-card">
                    <div class="card-header">
                        <div class="card-title">
                            DSR Coupon Book Sales
                        </div>
                    </div>
                    <div class="mt">
                        <form method="GET" action="{% url 'dsr_coupon_book_sales' %}">
                            <div class="card-body">
                                <div class="row align-items-center">
                                    <div class="col">
                                        <label for="start_date">From Date:</label>
                                        <input type="date" class="form-control" id="start_date" name="start_date" value="{{ filter_data.start_date }}">
                                    </div>

                                    <div class="col">
                                        <button type="submit" class="btn btn-primary me-2 mb-2 mt-3">Submit</button>
                                    </div>
                                    <div class="col d-flex align-items-center justify-content-end">
                                        <a href="{% url 'dsr_coupon_book_sales_excel' %}?start_date={{ filter_data.start_date }}" class="btn btn-outline-success"><i class="fas fa-file-excel"></i>Excel</a>
                                        <a href="{% url 'dsr_coupon_book_sales_print' %}?start_date={{ filter_data.start_date }}" class="btn btn-outline-success"><i class="fas fa-file-excel"></i>Print</a>
                                    </div>
                                </div>
                                
                            </div>
                        </form>
                    </div>
                    <div id="table-container" style="overflow:scroll;">
                        <div class="card-body">
                            <table  class="table table-bordered text-wrap" style="width: 100%">
                                <thead>
                                    <tr>
                                        <th>Sl No</th>
                                        <th>Ref No</th>
                                        <th>Customer</th>
                                        <th>Building Name/no</th>
                                        <th>Book No</th>
                                        <th>Coupon Book Type</th>
                                        <th>Coupon Method</th>
                                        <th>Amount</th>


                                    </tr>
                                </thead>
                                <tbody>
                                    {% load el_pagination_tags %}
                                    {% paginate 20 customer_coupon_items %}
                                    {% for customer_coupon_item in customer_coupon_items %}
                                    <tr>
                                        <td>{{ forloop.counter }}</td>
                                        <td>{{ customer_coupon_item.customer_coupon.reference_number }}</td>
                                        <td>{{ customer_coupon_item.customer_coupon.customer.customer_name }}</td>
                                        <td>{{ customer_coupon_item.customer_coupon.customer.building_name }} /{{ customer_coupon_item.customer_coupon.customer.door_house_no }}/
                                            {{ customer_coupon_item.customer_coupon.customer.floor_no }}
                                        </td>
                                        <td>{{ customer_coupon_item.coupon.book_num }}</td>
                                        <td>{{ customer_coupon_item.coupon.coupon_type.coupon_type_name }}</td>
                                        <td>{{ customer_coupon_item.coupon.coupon_method }}</td>
                                        <td>{{ customer_coupon_item.rate }}</td>

                                    </tr>
                                {% endfor %} 
                                </tbody>
                                
                            </table>
                        </div>
                    </div>
                    {% get_pages %}
                    <div class="clearfix"></div>
                    <div class="row pagi my-3">
                        <div class="col-sm-6 col-xs-6 tot my-pagination">
                            <div class="m-t-10 text-start">
                                Showing {{title}}
                                <span class="current_page_index">{{ pages.current_start_index }}</span> - <span
                                class="current_end_status">{{ pages.current_end_index }}</span> of <span
                                class="total_count">{{ pages.total_count }}</span>
                            </div>
                        </div>
                        <div class="col-sm-6 col-xs-6 pagination-btn-div">{% show_pages %}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

<script>
 $('#submit').click(function(e){ 
    e.preventDefault();       
            // Show the table when dates are selected
            $('#table-container').show();
    });
</script>

{% endblock %}