{% extends 'base.html' %}
{% block title %} Product RouteWise Sales Report {% endblock %}
{% block content %}


<!-- Page Header -->
<div class="page-header-breadcrumb d-md-flex d-block align-items-center justify-content-between ">
    <h4 class="fw-medium mb-0">Product RouteWise Sales Report</h4>
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="javascript:void(0);" class="text-white-30">Sales Management </a></li>
        <li class="breadcrumb-item active" aria-current="page">Product RouteWise Sales Report</li>
    </ol>
</div>
<div class="main-content app-content">
    <div class="container-fluid">
        <!-- Start:: row-2 -->
        <div class="row">
            <div class="col-xl-12">
                <div class="card custom-card">
                    <div class="card-header">
                        <div class="card-title">
                            Product RouteWise Sales Report
                        </div>
                    </div>
                    <div class="mt">
                        <form method="GET" action="{% url 'product_route_salesreport' %}">
                            <div class="card-body">
                                <div class="row align-items-center">
                                    <div class="col">
                                        <label for="start_date">From Date:</label>
                                        <input type="date" class="form-control" id="start_date" name="start_date" value="{{ filter_data.start_date }}">
                                    </div>
                                    <div class="col">
                                        <label for="end_date">To Date:</label>
                                        <input type="date" class="form-control" id="end_date" name="end_date" value="{{ filter_data.end_date }}">
                                    </div>
                                    <div class="col">
                                        <label for="product">Products :</label>
                                        <select name="selected_product_id" id="product" class="form-select" style="width:100%">
                                            {% for product in products %}
                                                <option value="{{ product.id }}" {% if product.id == filter_data.product_id %}selected{% endif %}>{{ product.product_name }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="col">
                                        <label for="product">Routes :</label>
                                        <select name="route_name" class="form-select">
                                            <option value="">All Routes</option>
                                            {% for route in route_li %}
                                                <option value="{{ route.route_name }}"  {% if route.route_name == filter_data.route_name %}selected{% endif %}>{{ route.route_name }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="col d-flex align-items-end justify-content-end">
                                        <input type="submit" class="btn btn-primary btn-sm mx-1" value="Apply Filter">
                                        <button type="button" class="btn btn-secondary btn-sm mx-1" onclick="resetFilters()" style="width:max-content">Reset Filter</button>
                                        <a href="{% url 'download_product_sales_excel' %}?start_date={{ filter_data.start_date }}&route_name={{ route.route_name }}&end_date={{ filter_data.end_date }}" class="btn btn-outline-success mx-1"><i class="fas fa-file-excel"></i> Excel</a>
                                        <a onclick="printDiv('printArea'); return false;" class="btn btn-outline-success mx-1"><i class="fas fa-print"></i> Print</a>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>

                    <div id="table-container" style="overflow:scroll;">
                        <div class="card-body">
                            <table  class="table table-bordered text-wrap" style="width: 100%">
                                <thead>
                                    <tr>
                                        <th>Sl No</th>
                                        <th>Time of Supply</th>
                                        <th>Ref/Invoice No</th>
                                        <th>Route Name</th>
                                        <th>Customer Name</th>
                                        <th>Mode of Supply</th>
                                        <th>Quantity</th>
                                        <th>Empty Bottle Collected</th>
                                        <th>Coupon Collected</th>
                                        <th>Amount Collected</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% load el_pagination_tags %}
                                    {% paginate 20 customersupplyitems %}
                                    {% for customersupplyitem in customersupplyitems %}
                                        <tr>
                                            <td>{{ forloop.counter }}</td>
                                            <td>{{ customersupplyitem.customer_supply.created_date}}</td>
                                            <td>{{ customersupplyitem.customer_supply.reference_number}}</td>
                                            <td>{{ customersupplyitem.customer_supply.customer.routes.route_name }}</td>
                                            <td>{{ customersupplyitem.customer_supply.customer.customer_name }}</td>
                                            <td>{{ customersupplyitem.customer_supply.customer.sales_type }}</td>
                                            <td>{{ customersupplyitem.quantity }}</td>
                                            <td>{{ customersupplyitem.customer_supply.collected_empty_bottle }}</td>
                                            <td>{{ customersupplyitem.leaf_count }}</td>
                                            <td>{{ customersupplyitem.amount }}</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        {% get_pages %}
                        <div class="clearfix"></div>
                        <div class="row pagi my-3">
                            <div class="col-sm-6 col-xs-6 tot my-pagination">
                                <div class="m-t-10 text-start">
                                    Showing {{title}}
                                    <span class="current_page_index">{{ pages.current_start_index }}</span> - <span
                                    class="current_end_status">{{ pages.current_end_index }}</span> of <span
                                    class="total_count">{{ pages.total_count }}</span>
                                </div>
                            </div>
                            <div class="col-sm-6 col-xs-6 pagination-btn-div">{% show_pages %}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>


<div id="printArea"  style="display: none; padding: 10em;">
    <div style="margin-top: 4em; ">
        <h3 style="text-align: center; ;">Sana Water</h3>
    </div>


    <table class="table table-bordered text-wrap " style="width: 100%; margin-top: 1em;">
        <thead>
            <tr>
                <th scope="col" style="border-bottom: 1; max-width: 5em;">Sl No</th>
                <th scope="col" style="border-bottom: 1; ">Route Name</th>
                <th scope="col" style="border-bottom: 1;">Customer Name</th>
                <th scope="col" style="border-bottom: 1;">Mode of Supply</th>
                <th scope="col" style="border-bottom: 1;">Quantity</th>
                <th scope="col" style="border-bottom: 1; ">Empty Bottle Collected</th>
                <th scope="col" style="border-bottom: 1; ">Coupon Collected</th>
                <th scope="col" style="border-bottom: 1; ">Amount Collected</th>
                <th scope="col" style="border-bottom: 1; ">Ref/Invoice No</th>
                <th scope="col" style="border-bottom: 1; ">Time of Supply</th>

            </tr>
        </thead>
        <tbody>
            {% for customersupplyitem in customersupplyitems %}
            
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ customersupplyitem.customer_supply.customer.routes.route_name }}</td>
                    <td>{{ customersupplyitem.customer_supply.customer.customer_name }}</td>
                    <td>{{ customersupplyitem.customer_supply.customer.sales_type }}</td>
                    <td>{{ customersupplyitem.quantity }}</td>
                    <td>{{ customersupplyitem.customer_supply.collected_empty_bottle }}</td>
                    <td>{{ customersupplyitem.collected_empty_bottle }}</td>
                    <td>{{ customersupplyitem.amount }}</td>
                    <td>{{ customersupplyitem.customer_supply.reference_number}}</td>
                    <td>{{ customersupplyitem.customer_supply.created_date|date}}</td>
                </tr>
            {% endfor %}
        </tbody>
        </table>
</div>


<script>
    function printDiv(divName) {
        var printContents = document.getElementById(divName).innerHTML;
        var originalContents = document.body.innerHTML;
        document.body.innerHTML = printContents;
        window.print();
        document.body.innerHTML = originalContents;
    }
</script>



<script>
    function resetFilters() {
        // Redirect to the same page
        location.href = "{% url 'product_route_salesreport' %}";
    }
</script>

{% endblock %}
