{% extends 'base.html' %}
{% block title %} Product RouteWise Sales Report Detail {% endblock %}
{% block content %}
{% load static %}
<!-- End::app-sidebar -->
<!-- Page Header -->
<div class="page-header-breadcrumb d-md-flex d-block align-items-center justify-content-between ">
    <h4 class="fw-medium mb-0">Sales Management</h4>
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="javascript:void(0);" class="text-white-50">Dashboards</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">Admin Dashboard</li>
    </ol>
</div>
<!-- Page Header Close -->
<!-- Start::app-content -->
<div class="main-content app-content">
    <div class="container-fluid">
        <!-- Start:: row-2 -->
        <div class="row">
            <div class="col-xl-12">
                <div class="card custom-card">
                    <div class="card-header">
                        <div class="card-title">Product RouteWise Sales Report Detail</div>
                    </div>
                    <div class="card-body">
                        <p>Customer Name: {{ customersupplyitem.customer_supply.customer.customer_name }}</p>
                        <p>Product: {{ customersupplyitem.product.product_name }}</p>
                        <p>Reference Number: {{ customersupplyitem.customer_supply.reference_number }}</p>
                        <p>Quantity: {{ customersupplyitem.quantity }}</p>
                        <p>Amount: {{ customersupplyitem.amount }}</p>
                        <!-- Add more details as needed -->
                    </div>
                </div>
            </div>
        </div>
        <!-- End:: row-2 -->
    </div>
</div>
<!-- End::app-content -->
{% endblock %}
