{% extends 'base.html' %}
{% block title %} Product RouteWise Sales Report {% endblock %}
{% block content %}


<!-- Page Header -->
<div class="page-header-breadcrumb d-md-flex d-block align-items-center justify-content-between ">
    <h4 class="fw-medium mb-0">Product RouteWise Sales Report</h4>
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="javascript:void(0);" class="text-white-30">Sales Management </a></li>
        <li class="breadcrumb-item active" aria-current="page">Product RouteWise Sales Report</li>
    </ol>
</div>
<div class="main-content app-content">
    <div class="container-fluid">
        <!-- Start:: row-2 -->
        <div class="row">
            <div class="col-xl-12">
                <div class="card custom-card">
                    <div class="card-header">
                        <div class="card-title">
                            Product RouteWise Sales Report
                        </div>
                    </div>

                    <div class="" >
                        <form method="post">
                            {% csrf_token %}
                            <div class="row mt-3">
                                <div class="row col-md-6">
                                    <div id="datePeriodDiv" class="row col-12">
                                        <div class="col-md-3 col-form-label text-end" >
                                            <p>Start and <br> End Date</p>
                                        </div>
                                        
                                            <div class="col-md-5" >
                                                <input name="start_date" type="date" class="form-select" style="width: min-content;" value="{% if start_date and end_date %}{{ start_date }}{% endif %}">
                                            </div>
                                            
                                            <div class="col-md-4" >
                                                <input name="end_date" type="date" class="form-select" style="width: min-content;" value="{% if start_date and end_date %}{{ end_date }}{% endif %}">
                                            
                                        </div>
                                    </div>
                                </div>
                                <div class="row col-md-6" style="">
                                    <div class="col-md-3 col-form-label text-end">
                                        <p>Product</p>
                                    </div>
                                    <div class="col-md-4">
                                        <select name="selected_product_id" id="product" class="form-select" style="width:100%">
                                            <option value="" disabled {% if not selected_product %}selected{% endif %}>-----------------------------</option>
                                            {% if selected_product %}
                                                <option value="{{ selected_product_id }}" selected>{{ selected_product }}</option>
                                            {% endif %}
                                            {% for product in products %}
                                                <option value="{{ product.id }}">{{ product }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="col-md-5 text-end">
                                        <input type="submit" class="btn btn-primary btn-sm" value="Apply Filter">
                                        <button type="button" class="btn btn-secondary btn-sm" onclick="resetFilters()">Reset Filter</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                        
                    </div>
                    <div class="row" style=" align-items: center;">
                        <div class="col-md-6 text-center"> <!-- Column for the text, taking half the width -->
                            <!-- Add your text here -->
                            <!-- <h6>Date: {% if start_date and end_date %}{{ start_date }} -> {{ end_date }}{% elif selected_date %}{{ selected_date }}{% else %}{{ today|date:"Y-m-d" }}{% endif %}</h6> -->
                        </div>
                        <div class="col-4"></div>
                        <!-- <div class="col-md-2"> 
                            <div class="ms-auto">
                                <a href="{% url 'filter_route' action="change" %}">
                                    <button type="button" class="btn btn-success btn-wave text-end d-flex me-4 my-auto">
                                        <i class="bi bi-plus-circle me-1"></i>Create
                                    </button>
                                </a>
                            </div>
                        </div> -->
                    </div>
                    <div class="card-body">
                        <div style="float:right;padding:10px 0px">
                                        
                            <div class="input-group">
                                <!-- <button type="submit" class="btn btn-outline-success" style="width: 7em;">
                                    <i class="fas fa-file-excel"></i> Excel
                                </button> -->
                                <a href="{% url 'download_product_sales_excel' %}" class="btn btn-outline-success" style="width: 7em;"><i class="fas fa-file-excel"></i> Excel</a>
                            </div>
                           
                        </div>
                        <div style="float:right;padding:10px 0px">
                            <a href="{% url 'print_product_sales' %}" class="btn btn-outline-success" style="width: 7em;">
                                <i class="fas fa-print"></i> Print
                            </a>
                        </div>
                        <table id="datatable-basic" class="table table-bordered text-wrap " style="width: 100%">
                            <thead>
                                <tr>
                                    <th rowspan="2">Sl No</th>
                                    <th rowspan="2">Ref/Invoice No</th>
                                    <th rowspan="2">Route Name</th>
                                    <th rowspan="2">Salesman</th>
                                    <th rowspan="2">Quantity</th>
                                    <th rowspan="2">Amount</th>
                                    <th rowspan="2">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for customersupplyitem in customersupplyitems %}
                                    <tr>
                                        <td>{{ forloop.counter }}</td>
                                        <td>{{ customersupplyitem.customer_supply.reference_number}}</td>
                                        <td>{{ salesman_routes|default:"Not Assigned" }}</td>
                                        <td>{{ customersupplyitem.customer_supply.salesman.username }}</td>
                                        <td>{{ customersupplyitem.quantity }}</td>
                                        <td>{{ customersupplyitem.amount }}</td>
                                        <td>
                                            <div class="g-2">
                                                <a href="{% url 'product_route_salesreport_detail_view' customersupplyitem.id %}?start_date={{ start_date }}&end_date={{ end_date }}&selected_date={{ selected_date }}&selected_product_id={{ selected_product_id }}" aria-label="anchor" class="btn  btn-warning-light btn-sm" data-bs-toggle="tooltip" data-bs-original-title="View">
                                                    <span class="bi bi-eye fs-14"></span>
                                                </a>
                                            </div>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                            
                            <tfoot>
                                <tr>
                                    <td style="border-top: solid rgb(0, 0, 0) 1px;"></td>
                                    <td style="border-top: solid rgb(0, 0, 0) 1px;"></td>
                                    <td style="border-top: solid rgb(0, 0, 0) 1px;"></td>
                                    <td style="font-weight: bold; border-top: solid rgb(0, 0, 0) 1px;">Total</td>
                                    <td style="font-weight: bold; border-top: solid rgb(0, 0, 0) 1px;">{{ total_quantity }}</td>
                                    <td style="font-weight: bold; border-top: solid rgb(0, 0, 0) 1px;">{{ total_amount }}</td>
                                    <td></td> <!-- Assuming you don't have any total for the action column -->
                                </tr>
                            </tfoot>  

                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>




<script>
    function resetFilters() {
        // Redirect to the same page
        location.href = "{% url 'product_route_salesreport' %}";
    }
</script>

{% endblock %}
