<!DOCTYPE html> 
{%load static%}

<html lang="en" dir="ltr" data-nav-layout="vertical"  data-theme-mode="light" data-header-styles="gradient" data-menu-styles="dark">

<head>
    <!-- Meta Data -->
    <meta charset="UTF-8">
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Sana Water</title>
    <meta name="Description" content="Sana water admin dashboard">
    <meta name="Author" content="Mobiz Technologies">
	<meta name="keywords" content="Sana water admin dashboard">

    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="57x57" href="{% static 'images/fav_icons/apple-icon-57x57.png' %}">
    <link rel="apple-touch-icon" sizes="60x60" href="{% static 'images/fav_icons/apple-icon-60x60.png' %}">
    <link rel="apple-touch-icon" sizes="72x72" href="{% static 'images/fav_icons/apple-icon-72x72.png' %}">
    <link rel="apple-touch-icon" sizes="76x76" href="{% static 'images/fav_icons/apple-icon-76x76.png' %}">
    <link rel="apple-touch-icon" sizes="114x114" href="{% static 'images/fav_icons/apple-icon-114x114.png' %}">
    <link rel="apple-touch-icon" sizes="120x120" href="{% static 'images/fav_icons/apple-icon-120x120.png' %}">
    <link rel="apple-touch-icon" sizes="144x144" href="{% static 'images/fav_icons/apple-icon-144x144.png' %}">
    <link rel="apple-touch-icon" sizes="152x152" href="{% static 'images/fav_icons/apple-icon-152x152.png' %}">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'images/fav_icons/apple-icon-180x180.png' %}">
    <link rel="icon" type="image/png" sizes="192x192"  href="{% static 'images/fav_icons/android-icon-192x192.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'images/fav_icons/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="96x96" href="{% static 'images/fav_icons/favicon-96x96.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'images/fav_icons/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'images/fav_icons/manifest.json' %}%">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="{% static 'images/fav_icons/ms-icon-144x144.png' %}">
    <meta name="theme-color" content="#ffffff">

    <!-- Choices JS -->
    <script src="{%static 'libs/choices.js/public/assets/scripts/choices.min.js'%}"></script>

    <!-- Main Theme Js -->
    <script src="{%static 'js/main.js'%}"></script>

    <!-- Bootstrap Css -->
    <link id="style" href="{%static 'libs/bootstrap/css/bootstrap.min.css'%}" rel="stylesheet">

    <!-- Style Css -->
    <link href="{%static 'css/styles.css'%}" rel="stylesheet">

    <!-- Icons Css -->
    <link href="{%static 'css/icons.css'%}" rel="stylesheet">

    <!-- Simplebar Css -->
    <link href="{%static 'libs/simplebar/simplebar.min.css'%}" rel="stylesheet">

    <!-- Color Picker Css -->
    <link rel="stylesheet" href="{%static 'libs/flatpickr/flatpickr.min.css'%}">
    <link rel="stylesheet" href="{%static 'libs/@simonwep/pickr/themes/nano.min.css'%}">

    <!-- Choices Css -->
    <link rel="stylesheet" href="{%static 'libs/choices.js/public/assets/styles/choices.min.css'%}">
    <link rel="stylesheet" href="{%static 'sweet/sweetalert2.css'%}">
    
    <link rel="stylesheet" href="https://cdn.datatables.net/1.12.1/css/dataTables.bootstrap5.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.3.0/css/responsive.bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/buttons/2.2.3/css/buttons.bootstrap5.min.css">
</head>

<body>
    
   
    <div class="page error-bg" id="particles-js">
        <!-- Start::error-page -->
        <div class="error-page  ">
            <div class="container">
                <div class="row justify-content-center align-items-center authentication authentication-basic h-100">
                    <div class="col-xxl-4 col-xl-5 col-lg-5 col-md-6 col-sm-8 col-12">
                        <div class="my-5 d-flex justify-content-center">
                            <a href="">
                                <!-- <img src="{% static 'images/brand-logos/desktop-logos.png' %}" alt="logo"  class="desktop-logos">
                                <img src="{% static 'images/brand-logos/desktop-dark.png' %}" alt="logo" class="desktop-dark"> -->
                            </a>
                        </div>
                        <div class="card custom-card rectangle2">
                            <div class="card-body p-5 rectangle3">
                                <div class="col-12 text-center pb-4 pt-3">
                                    <img src="{% static 'images/brand-logos/desktop-logos.png' %}" alt="logo"  class="desktop-logo" style="max-width: 70px; margin: auto;">
                                </div>
                                <p class="h4 fw-semibold mb-2 text-center">Sign In</p>
                                <p class="mb-4 text-muted op-7 fw-normal text-center">Welcome back....!</p>
                                {% if error_msg %}
                                <p class="mb-4 text-danger op-7 fw-normal text-center">{{error_msg}}</p>
                                {% endif %}
                                <div class="row gy-3">
                                    <form method="post" class="auth-form" action="{% url 'login' %}">
                                    {% csrf_token %}
                                    <div class="col-xl-12">
                                        <label for="signin-username" class="form-label text-default">User Name</label>
                                        {% comment %} {{form.username}} {% endcomment %}
                                        <input type="text" class="form-control form-control-lg" id="username" name="username" placeholder="user name" required>
                                    </div>
                                    <div class="col-xl-12 mb-2">
                                        <label for="signin-password" class="form-label text-default d-block">Password<a href="" class="float-end text-primary">Forget password ?</a></label>
                                        <div class="input-group">
                                            {% comment %} {{form.password}} {% endcomment %}
                                            <input type="password" class="form-control form-control-lg" id="password" name="password" placeholder="password" required>
                                            <button class="btn btn-light bg-transparent" type="button" onclick="createpassword('password',this)" id="button-addon2"><i class="ri-eye-off-line align-middle"></i></button>
                                        </div>
                                        <div class="mt-2">
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                                                <label class="form-check-label text-muted fw-normal" for="defaultCheck1">
                                                    Remember password ?
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xl-12 d-grid mt-2">
                                        <input type="submit" class="btn btn-lg btn-primary" value="Sign In">
                                    </div>
                                </form>
                                </div>
                                <div class="text-center">
                                    <p class="fs-12 text-muted mt-3">Dont have an account? <a href="" class="text-primary">Sign Up</a></p>
                                </div>
                                <div class="text-center my-3 authentication-barrier">
                                    <span>OR</span>
                                </div>
                                <div class="btn-list text-center">
                                    <button class="btn btn-icon btn-light btn-wave waves-effect waves-light">
                                        <i class="ri-facebook-line fw-bold "></i>
                                    </button>
                                    <button class="btn btn-icon btn-light  btn-wave waves-effect waves-light">
                                        <i class="ri-google-line fw-bold "></i>
                                    </button>
                                    <button class="btn btn-icon btn-light  btn-wave waves-effect waves-light">
                                        <i class="ri-twitter-line fw-bold "></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End::error-page -->
    </div>

    <!-- Custom-Switcher JS -->
    <script src="{% static 'js/custom-switcher.min.js' %}"></script>

    <!-- Bootstrap JS -->
    <script src="{% static 'libs/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

    <!-- Show Password JS -->
    <script src="{% static 'js/show-password.js' %}"></script>

</body>

</html>