{% extends 'base.html' %}
{% block title %} Branch List {% endblock %}
{% block content %}
{% load static %}
        <!-- End::app-sidebar -->
        <!-- Page Header -->
        <div class="page-header-breadcrumb d-md-flex d-block align-items-center justify-content-between ">
            <h4 class="fw-medium mb-0">Branch Management</h4>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="javascript:void(0);" class="text-white-50">Dashboards</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">Admin Dashboard</li>
            </ol>
        </div>
        <!-- Page Header Close -->



        <!-- Start::app-content -->
        <div class="main-content app-content">
            <div class="container-fluid">

                
                         <!-- Start:: row-2 -->
                <div class="row">
                    <div class="col-xl-12">
                        <div class="card custom-card">
                            <div class="card-header">
                                <div class="card-title">
                                    Branches
                                </div>

                                <div class="ms-auto">
                                    <a href="{% url 'branch_create' %}">
                                    <button type="button" class="btn btn-success btn-wave text-end d-flex me-4 my-auto"><i class="bi bi-plus-circle me-1"></i>Create</button>
                                </a>
                                </div>
                            </div>
                            
                            <div class="card-body">
                                <table id="responsiveDataTable" class="table table-bordered text-nowrap" style="width:100%">
                                    <thead>
                                        <tr>
                                        <th  style="text-align:center !important;" scope="col">Sl.No</th>
                                        <th  style="text-align:center !important;" scope="col">Name</th>
                                        <th  style="text-align:center !important;" scope="col">Address</th>
                                        <th  style="text-align:center !important;" scope="col">Mobile</th>
                                        <th  style="text-align:center !important;" scope="col">Phone</th>
                                        <th  style="text-align:center !important;" scope="col">Email</th>
                                        <th  style="text-align:center !important;" scope="col">Emirates</th>
                                        <th  style="text-align:center !important;" scope="col">TRN No</th>
                                        <th  style="text-align:center !important;" scope="col">Logo</th>
                                        <th  style="text-align:center !important;" scope="col">Actions</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                      <!--   <tr>
                                            <td>Bella</td>
                                            <td>Chloe</td>
                                            <td>System Developer</td>
                                            <td>2018/03/12</td>
                                            <td>
                                                <div class="g-2">
                                                    <a aria-label="anchor" class="btn  btn-warning-light btn-sm" data-bs-toggle="tooltip" data-bs-original-title="View">
                                                        <span class="bi bi-eye fs-14"></span>
                                                    </a>
                                                    <a aria-label="anchor" class="btn btn-primary-light btn-sm ms-2" data-bs-toggle="tooltip" data-bs-original-title="Edit">
                                                        <span class="ri-pencil-line fs-14"></span>
                                                    </a>
                                                    <a aria-label="anchor" class="btn btn-danger-light btn-sm ms-2" data-bs-toggle="tooltip" data-bs-original-title="Delete">
                                                        <span class="ri-delete-bin-7-line fs-14"></span>
                                                    </a>
                                                </div>
                                            </td>
                                            
                                        </tr> -->
                                        {% for data in branch_li %}
                                        <tr>
                                            <td style="text-align:right;">{{forloop.counter}}</td>
                                            <td style="text-align:left;">{{data.name}}</td>
                                            <td style="text-align:left;">{{data.address}}</td>
                                            <td style="text-align:left;">{{data.mobile}}</td>
                                            <td style="text-align:left;">{{data.phone}}</td>
                                            <td style="text-align:left;">{{data.email}}</td>
                                            <td style="text-align:left;">{{data.emirate}}</td>
                                            <td style="text-align:right;">{{data.trn}}</td>
                                             {%if data.logo%}
                                            <td style="text-align:left;" width="10%" height="10%">
                                                <img src="{{data.logo.url}}" alt="" height="100%" width="100%">
                                            </td>
                                            {%else%}
                                            <td></td>
                                            {%endif%}
                                            <td>
                                                <div class="g-2">
                                                    <a href="{% url 'branch_details' data.branch_id %}" aria-label="anchor" class="btn  btn-warning-light btn-sm" data-bs-toggle="tooltip" data-bs-original-title="View">
                                                        <span class="bi bi-eye fs-14"></span>
                                                    </a>
                                                    <a href="{% url 'branch_edit' data.branch_id %}" aria-label="anchor" class="btn btn-primary-light btn-sm ms-2" data-bs-toggle="tooltip" data-bs-original-title="Edit">
                                                        <span class="ri-pencil-line fs-14"></span>
                                                    </a>
                                                    <a href="{% url 'delete_branch' data.branch_id %}" aria-label="anchor" class="btn btn-danger-light btn-sm ms-2" data-bs-toggle="tooltip" data-bs-original-title="Delete">
                                                        <span class="ri-delete-bin-7-line fs-14"></span>
                                                    </a>
                                            </div>
                                            </td>
                                        </tr>
                                    {%endfor%}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End:: row-2 -->

                      

            </div>
        </div>
        <!-- End::app-content -->
        {% endblock %}
