{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="page-header-breadcrumb d-md-flex d-block align-items-center justify-content-between ">
    <h4 class="fw-medium mb-0">Create Order</h4>
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="javascript:void(0);" class="text-white-50">Dashboards</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">Create Order</li>
    </ol>
</div>
<div class="main-content app-content">
    <div class="container-fluid">
        <!-- Start:: row-1 -->
        <div class="row">
            <div class="col-xl-12">
                <div class="card custom-card">
                    <div class="card-header">
                        <div class="card-title mx-auto">
                            Create Order
                        </div>
                    </div>
                    <div class="card-body">
                        <form enctype="multipart/form-data" role="form" method="post" class="row g-3 needs-validation">
                            {% csrf_token %}
                            <!--row 1-->
                            <div class="col-md-6">
                                <div class="form-group required">
                                    <label class='control-label'>Route</label>
                                    {{ form.route }}
                                    <span style="color: red;">{{ form.route.errors }}</span>
                                    <!--                                <small class="form-text text-muted">Select Category.</small>-->
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group required">
                                    <label class='control-label'>Product</label>
                                        {{ form.product }} -
                                    <span style="color: red;">{{ form.product.errors }}</span>
                                    <!--                                <small class="form-text text-muted">Select Category.</small>-->
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group required">
                                    <label class='control-label'>Driver</label>
                                    {{ form.driver }}
                                    <span style="color: red;">{{ form.driver.errors }}</span>
                                    <!--                                <small class="form-text text-muted">Select Category.</small>-->
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group required">
                                    <label class='control-label'>Quantity</label>
                                    {{ form.quantity }}
                                    <span style="color: red;">{{ form.quantity.errors }}</span>
                                    <!--                                <small class="form-text text-muted">Select Category.</small>-->
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group required">
                                    <label class='control-label'>Salesman</label>
                                    {{ form.salesman }}
                                    <span style="color: red;">{{ form.salesman.errors }}</span>
                                    <!--                                <small class="form-text text-muted">Select Category.</small>-->
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group required">
                                    <label class='control-label'>Date</label>
                                    {{ form.order_date }}
                                    <span style="color: red;">{{ form.order_date.errors }}</span>
                                    <!--                                <small class="form-text text-muted">Select Category.</small>-->
                                </div>
                            </div>
                            
                            

                            <div class="col-12 text-end mt-5">
                                <input type="submit" class="btn btn-primary me-2 mb-2" value="Submit">
                                <button class="btn btn-success   me-md-2  mb-2" type="button"
                                    onClick="javascript:history.go(-1);">
                                    <i class="bi bi-backspace-fill pe-1"></i>Back</button>
                                <a class="btn btn-success me-md-2  mb-2" href="{% url 'branch' %}">
                                    <i class="bi bi-backspace-fill pe-1"></i> Back to Dashboard
                                </a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
            {% endblock %}