{% extends 'base.html' %}
{% block title %} Order Change {% endblock %}
{% block content %}


<!-- Page Header -->
<div class="page-header-breadcrumb d-md-flex d-block align-items-center justify-content-between ">
    <h4 class="fw-medium mb-0">Changed Products</h4>
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="javascript:void(0);" class="text-white-30">Van </a></li>
        <li class="breadcrumb-item active" aria-current="page">Order Change</li>
    </ol>
</div>
<div class="main-content app-content">
    <div class="container-fluid">
        <!-- Start:: row-2 -->
        <div class="row">
            <div class="col-xl-12">
                <div class="card custom-card">
                    <div class="card-header">
                        <div class="card-title">
                            Changed Products
                        </div>
                    </div>
                    <div class="mt">
                            <form method="post">
                                {% csrf_token %}
                                <div class="card-body">
                                    <div class="row  align-items-center">
                                        <div class="col">
                                            <label for="start_date">From Date:</label>
                                            <input name="start_date" type="date" class="form-select"  value="{% if start_date and end_date %}{{ start_date }}{% endif %}">
                                        </div>
                                        <div class="col">
                                            <label for="end_date">To Date:</label>
                                            <input name="end_date" type="date" class="form-select"  value="{% if start_date and end_date %}{{ end_date }}{% endif %}">
                                        </div>
                                        
                                        <div class="row col-md-6" style="">
                                            <div class="col">
                                                <label for="product">Product :</label>
                                                <select name="product" id="product" class="form-select" style="width:100%">
                                                    <option value="" disabled {% if not selected_product %}selected{% endif %}>-----------------------------</option>
                                                    {% if selected_product %}
                                                        <option value="{{ selected_product_id }}" selected>{{ selected_product }}</option>
                                                    {% endif %}
                                                    {% for product in products %}
                                                        <option value="{{ product.product_id }}">{{ product }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                            <div class="col d-flex align-items-end justify-content-end">
                                                <input type="submit" class="btn btn-primary btn-sm mx-1" value="Apply Filter">
                                                <button type="button" class="btn btn-secondary btn-sm mx-1" onclick="resetFilters()" style="width:max-content">Reset Filter</button>
                                            
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                         
                    </div>
                    
                    <div class="card-body">
                        <table id="datatable-basic" class="table table-bordered text-wrap " style="width: 100%">
                            <thead>
                                <tr>
                                    <th scope="col" style="text-align:center !important; max-width: 5em;">Sl No</th>
                                    <th scope="col" style="text-align:center !important; max-width: 15em;">Route Name</th>
                                    <th scope="col" style="text-align:center !important;">Changed Quantity</th>
                                    <th scope="col" style="text-align:center !important;">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for route_name, route_info in route_counts.items %}
                                    <tr>
                                        <td style="text-align:center">{{ forloop.counter }}</td>
                                        <td style="text-align:center">{{ route_name }}</td>
                                        <td style="text-align:center">{{ route_info.count }}</td>
                                        
                                        <td>
                                            <div class="g-2">
                                                <a href="{% url 'order_change_list' route_info.id %}?start_date={{ start_date }}&end_date={{ end_date }}&selected_date={{ selected_date }}&selected_product_id={{ selected_product_id }}" aria-label="anchor" class="btn  btn-warning-light btn-sm" data-bs-toggle="tooltip" data-bs-original-title="View">
                                                    <span class="bi bi-eye fs-14"></span>
                                                </a>
                                            </div>
                                        </td>
                                    </tr>
                                    {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>


<!-- <script>
    function resetFilters(event) {
        // Reset start and end date inputs
        event.preventDefault();
        document.getElementsByName("start_date")[0].value = "";
        document.getElementsByName("end_date")[0].value = "";

        // Reset selected product
        var productSelect = document.getElementById("product");
        productSelect.selectedIndex = 0; // Set the first option as selected

        location.reload();
    }
</script> -->

<script>
    function resetFilters() {
        location.href = "{% url 'order_change' %}";
    }
</script>

{% endblock %}
